<div style="clear: both">
  <% if (typeof image !== 'undefined' && image) { %>
    <img class="rounded float-left mb-3 mr-2" style="max-height: 200px" src="<%= image.base + image.filename %>" alt="<%= image.description %>" />
  <% } %>

  <div>
    <!-- widget: add/remove to localStorage -->

    <span
      class="pull-left"
      data-oa-widget="8"
      data-oa-widget-params="<%= JSON.stringify({
        name: 'favorite',
        eventUid: uid,
        agendaUid,
        activeClass: 'fa-star',
        inactiveClass: 'fa-star-o',
        activeTargetSelector: '.fa',
        handlerSelector: '.fa',
      }) %>"
    >
      <i class="fa fa-star-o"></i>
    </span>

    <h3><%= title.fr || title.en %></h3>

    <p><%= description.fr || description.en %></p>
  </div>
</div>
