<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/main.css">
  <script src="https://kit.fontawesome.com/1b02ef4c20.js" crossorigin="anonymous"></script>
  <title>Filters example</title>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div
        class="map-container"
        data-oa-filter="map"
        data-oa-filter-params="<%= JSON.stringify({
          tileUrl: '//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
          tileAttribution: 'Map data © OpenStreetMap contributors',
          searchWithMap: true,
          searchMessage: 'Rechercher quand je déplace la carte',
          type: 'map',
          name: 'geo',
        }) %>"
      ></div>

      <div
        data-oa-filter="search"
        data-oa-filter-params="<%= JSON.stringify({ type: 'search', name: 'search' }); %>"
      ></div>

      <div
        data-oa-filter="date-range"
        data-oa-filter-params="<%= JSON.stringify({ type: 'dateRange', name: 'timings' }) %>"
      ></div>

      <div
        data-oa-filter="defined-range"
        data-oa-filter-params="<%= JSON.stringify({
          staticRanges: ['today', 'tomorrow'],
          type: 'definedRange',
          name: 'timings',
        }) %>"
      ></div>

      <div
        data-oa-filter="relative"
        data-oa-filter-params="<%= JSON.stringify({ type: 'choice', name: 'relative' }) %>"
      ></div>

      <div
        data-oa-filter="cities"
        data-oa-filter-params="<%= JSON.stringify({ type: 'choice', name: 'city' }) %>"
      ></div>

      <div
        data-oa-filter="type-devenement"
        data-oa-filter-params="<%= JSON.stringify({
          type: 'choice',
          name: 'type-devenement',
          aggregation: {
            type: 'additionalFields',
            field: 'type-devenement',
            size: 2000,
          },
          labelKey: 'label'
        }) %>"
      ></div>

      <div
        data-oa-widget="active-filters"
        data-oa-widget-params="<%= JSON.stringify({ name: 'activeFilters' }) %>"
      ></div>

      <div
        data-oa-widget="total"
        data-oa-widget-params="<%= JSON.stringify({
          message: {
            id: 'eventsTotal',
            defaultMessage:
              '{total, plural, =0 {Aucun événement ne correspond à cette recherche} one {{total} événement} other {{total} événements}}',
          },
          name: 'total',
        }) %>"
      ></div>
    </div>

    <div class="col">
      <div class="container event-list">
        <% for (const event of events) { %>
          <%- include('./event', event) %>
        <% } %>
      </div>
    </div>
  </div>
</div>
<!-- Axios, for the request in onFilterChange -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Qs, to parse query string -->
<script src="https://unpkg.com/qs@6.10.1/dist/qs.js" ></script>

<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="anonymous"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/main.js"></script>
<script src="/react-filters.js"></script>
</body>
</html>
