<% if (type=='html') {             // HTML PART             %>
<% include top %>
<span class="sectionTitle" style="<%= css.sectionTitle %>"><% 

  if ( item.type == 'day' ) { 

%><%= _t(item.text, 'Do MMMM YYYY') %><% 

  } else { 

%><%= __(item.text) %><% 

  } 

%></span>
<% include bottom %>

<% } else {                        // TEXT PART             

  if ( item.type == 'day' ) { 

%><%- _t(item.text, 'Do MMMM YYYY') %><% 

  } else { 

%><%- __(item.text) %><% 

  } 

} %>