<div class="popup-overlay js_close_popup">
  <section>
    <header class="popup-title">
      <h2><%= __('Import / Add to my agenda') %></h2>
      <a class="close-link" href=""><i class="fa fa-times fa-lg"></i></a>
    </header>
    <form class="js_popup_content">
      <p class="popup-legend"><%= __( 'Automatically import in your personal agenda' ) %></p>
      <div class="btn-adds">
        <a class="btn btn-default" href="https://www.google.com/calendar/render?cid=<%= genUrl( 'agendaIcal', { uid: uid }, { protocol: 'http' } ) %>"><%= __('Google Agenda') %></a>
        <a class="btn btn-default" href="<%= genUrl( 'agendaIcal', { uid: uid }) %>?dl=1">iCal</a>
      </div>
      <p class="popup-legend"><%= __('Download') %></p>
      <div class="btn-adds">
        <a class="btn btn-default" href="<%= genUrl( 'agendaFeed', { uid: uid }) %>">RSS</a>
        <a class="btn btn-default" href="<%= genUrl( 'agendaIcal', { uid: uid }) %>?dl=1">ICS</a>
        <a class="btn btn-default "href="<%= genUrl( 'agendaCsv', { uid: uid }) %>?dl=1">CSV</a>
        <a class="btn btn-default" href="<%= genUrl( 'agendaXml', { uid: uid }) %>?dl=1">XML</a>
      </div>
    </form>
  </section>
</div>