--><div class="col-sm-3 action-container">
  <p>
    <a class="btn btn-success js_use_search" href="<%= agenda.importUri %>" rel="nofollow">
      <i class="fa fa-share-alt"></i>
      <%= __( 'Export' ) %>
    </a>
  </p>
  <p class="share"><%= __('Share') %>&nbsp;:
    <a rel="no-follow" href="<%= genUrl( 'agendaShare', { slug: agenda.slug, service: 'twitter' }) %>" class="tw" target="_blank">
      <i class="fa fa-twitter"></i>
      <span>twitter</span>
    </a>
    <a rel="no-follow" href="<%= genUrl( 'agendaShare', { slug: agenda.slug, service: 'facebook' }) %>" class="fb" target="_blank">
      <i class="fa fa-facebook"></i>
      <span>facebook</span>
    </a>
    <a rel="no-follow" href="<%= genUrl( 'agendaShare', { slug: agenda.slug, service: 'googlePlus' }) %>" class="gp" target="_blank">
      <i class="fa fa-google-plus"></i>
      <span>google plus</span>
    </a>
    <a rel="no-follow" href="<%= genUrl( 'agendaShare', { slug: agenda.slug, service: 'linkedIn' }) %>" class="li" target="_blank">
      <i class="fa fa-linkedin"></i>
      <span>linkedin</span>
    </a>
  </p>
<% if ( agenda.isEmpty ) { %>
  <p>
    <a href="<%= genUrl( 'conversationAgendaContact', { 
      uid: agenda.uid, 
      redirect: _r({ module: 'review', action: 'show', 'slug': agenda.slug }) 
    }) %>" rel="nofollow"><%= __('Contact the administrator of this agenda') %></a>
  </p>
<% } %>
</div><!--