<header class="agenda-header" <% if ( agenda.theme ) { %> style="background-image:url(<%= _i( agenda.theme.image ) %>)" <% } %>>
<% if ( agenda.theme ) { %>
  <div class="layer"></div>
<% } %>
  <div class="container profile<% if ( !agenda.theme ) { %> notheme <% } %>">
    <div class="row"><!--
      --><div class="col-sm-2 avatar-container">
<% if ( agenda.image ) { %>
      <a href="<%= genUrl( 'agendaShow', { slug: agenda.slug } ) %>">
        <img class="avatar" src="<%= _i( agenda.image ) %>" alt="<%= agenda.title %>">
      </a>
<% } %>
      </div><!--
      --><div class="col-sm-7 title-container">
        <a href="<%= genUrl( 'agendaShow', { slug: agenda.slug } ) %>">
          <h1><%= agenda.title %></h1>
          <p><%- _txt.setLinks( agenda.description ) %></p>
        </a>
<% if ( agenda.url ) { %>
        <p><a target="_blank" href="<%= agenda.url %>"><%= agenda.url %></a></p>
<% } %>
            <% if ( includeActionLinks ) { %><div class="ctas">
                <a class="btn btn-default" href="<%= genUrl( 'conversationAgendaContact', { uid: agenda.uid, redirect: _r({ module: 'review', action: 'show', slug: agenda.slug }) }) %>" rel="nofollow">
                    <i class="fa fa-envelope" aria-hidden="true"></i> <strong><%= __( 'Contact' ) %></strong>
                </a>
                <a class="btn btn-default js_use_search" href="<%= agenda.importUri %>" rel="nofollow">
                    <i class="fa fa-share-alt"></i> <strong><%= __( 'Export' ) %> </strong>
                </a>
                <a class="btn btn-success display-none js_add_button" href="<%= genUrl( 'agendaEventNew', { slug: agenda.slug } ) %>">
                    <i class="fa fa-plus" aria-hidden="true"></i> <strong><%= __('Add an event') %></strong>
                </a>
            </div><% } %>
      </div><% if ( includeActionLinks ) { %><!--
<% include ./actionLinks.part.ejs %>
    --><% } %></div>
  </div>
</header>