<body class="ag cb">
  <nav>
    <a class="cibul-link" href="#">
      <span><%= __('powered by') %></span>
      <img src="<%= _i('biglogowhite.png') %>" alt="cibul-logo"/>
    </a>
    <div class="canvas">
      <div class="head">
        <img src="<%= image %>"/>
        <div class="title">
          <h1><%= title %></h1>
          <p><%= description %></p>
          <a href="<%= url %>"><%= url %></a>
        </div>
      </div>
      <ul class="actions">
        <li><a><i class="fa fa-envelope-o"></i><span></span></a></li>
        <li><a><i class="fa fa-star"></i><span></span></a></li>
        <li><a><i class="fa fa-share-square-o"></i><span></span></a></li>
        <li><a><i class="fa fa-cog"></i><span></span></a></li>
        <li><a class="button green">
          <img class="aggregate" src="<%= _i('aggregate-alt.png') %>">
          <span><%= __('re-use') %></span>
        </a></li>
        <li><a class="button green">
          <i class="fa fa-plus-square"></i>
          <span><%= __('add an event') %></span>
        </a></li>
      </ul>
    </div>
  </nav>
  <div class="header js_map_widget">
  </div>
  <div class="canvas">
    <div class="sidebar">
      <aside>

        <form class="search">
          <i class="fa fa-search"></i>
          <input type="search"/>
        </form>

      </aside>

      <aside>
        <div class="head">
          <i class="fa fa-tags"></i>
          <span><%= __('Search by tags') %></span>
        </div>

        <ul class="tags">
<% tags.forEach( function( tag ) { %>
          <li><a href="#<%= tag.slug %>"><%= tag.label %></a></li>
<% }); %>
        </ul>

      </aside>

      <aside>

        <div class="head">
          <i class="fa fa-bookmark"></i>
          <span><%= __('Search by category') %></span>
        </div>

        <ul class="tags">
<% categories.forEach( function( category ) { %>
          <li><a href="#<%= category.slug %>"><%= category.label %></a></li>
<% }); %>
        </ul>
        
      </aside>

      <aside>
      
        <div class="js_calendar_widget"></div>

      </aside>

    </div>
    <main>
      <h2><%= __('Today') %></h2>
<% events.forEach(function( event ) { %>
      <article><!--
<% if ( event.image ) { %>
        --><a class="pic" href="#">
          <img src="<%= event.image %>">
        </a><!--
<% } %>
        --><div class="cnt<% if ( !event.image ) { %> nopic<% } %>" href="#">
<% if ( event.category ) { %>
          <a class="ct mbClr" href="#<%= event.category.slug %>"><%= event.category.label %></a>
<% } %>
          <span class="title"><%= event.title %></span>
          <span class="sti url"><%= __(event.dateRange[0], _t(event.dateRange[1])) %></span>
          <span class="dsc"><%= event.description %></span>
<% if ( event.tags ) { %>
          <span class="tg">
            <ul>
<% event.tags.forEach( function( tag ) { %>
              <li><a href="#<%= tag.slug %>"><%= tag.label %></a></li>
<% }); %>
            </ul>
          </span>
<% } %>
          <a class="lc">
            <i class="icon-map-marker mClr"></i>
            <span><%= event.placeName %></span>
          </a>

        </div>
      </article>
<% }) %>
    </main>
  </div>
  <script type="text/javascript">run();</script>
</body>