<header id="header" <% if ( theme ) { %> style="background-image:url(<%= _i( theme.image ) %>)" <% } %>>
<% if ( theme ) { %>
  <div class="layer"></div>
<% } %>
  <div class="container profile<% if ( !theme ) { %> notheme <% } %>">
    <div class="row"><!--
      --><div class="col-sm-2 avatar-container">
<% if ( image ) { %>
        <img class="avatar" src="<%= _i( image ) %>" alt="<%= title %>">
<% } %>
      </div><!--
      --><div class="col-sm-6 title-container">
        <h1><%= title %></h1>
        <p><%- _txt.setLinks( description ) %></p>
<% if ( url ) { %>
        <p><a href="<%= url %>"><%= url %></a></p>
<% } %>
      </div><div class="col-sm-4 col-aside action-container">
        <p>
          <a class="btn btn-success js_import_action" href="<%= importUri %>">
            <i class="fa fa-plus-circle"></i>
            <%= __('Import / Add to my Agenda') %>
          </a>
        </p>
        <p class="share"><%= __('Share') %>&nbsp;:
          <%- _sl.fb( { title: title, url: genUrl( 'agendaShow', { slug: slug }, { abs: true } ) } ) %>
          <%- _sl.tw( { title: title, url: genUrl( 'agendaShow', { slug: slug }, { abs: true } ) } ) %>
          <%- _sl.gp( { title: title, url: genUrl( 'agendaShow', { slug: slug }, { abs: true } ) } ) %>
          <%- _sl.li( { title: title, url: genUrl( 'agendaShow', { slug: slug }, { abs: true } ) } ) %>
        </p>
      </div>
    </div>
  </div>
</header>