<% include ../layout/_top.ejs %>

<div class="container agenda-admin">
    <% include ../agenda-admin/_admin-header.ejs %>

    <div class="row wsq">
        <% include ../agenda-admin/_admin-tabs.ejs %>

        <div class="col col-sm-9 body">
            <div class="aggregator-sources">
                <h2>Agendas sources</h2>
                <p class="text-muted">Les événements publiés par les agendas listés ici sont automatiquement ajoutés à
                    l'agenda <a href="#">Semaine de l'industrie</a>.</p>

                <p class="text-muted">Pour ajouter des sources, <a href="#">cherchez les agendas</a> que vous voulez
                    utiliser, ouvrez-les et cliquez sur le lien <strong>utiliser comme source</strong>.</p>

                <form action="#">
                    <div class="form-group input-icon-right search margin-v-md">
                        <input type="text" class="form-control" placeholder="Rechercher un agenda" />
                        <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </form>

                <div class="row">
                    <%- include('_agenda-item.ejs') %>
                    <%- include('_agenda-item.ejs') %>
                    <%- include('_agenda-item.ejs') %>
                    <%- include('_agenda-item.ejs') %>
                    <%- include('_agenda-item.ejs') %>
                    <%- include('_agenda-item.ejs') %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../layout/_bottom.ejs %>
