<header>
  <div class="container">
    <div class="row py-4">
      <div class="offset-md-1 col-md-10 px-md-5">
        <{{tagName}}><a href="{{root}}">{{agenda.title}}</a></{{tagName}}>
        <p>{{head.description}}</p>
        <a target="_blank" href="{{agenda.url}}">{{agenda.url}}</a>
        <div class="pb-4">
          <a href="/whereis404">404 page</a> -
          <a href="/error">error page</a> -
          <a href="/about">static page</a>
        </div>
        {{>contribute}}
      </div>
    </div>
  </div>
</header>
