<div class="imageContent" style="<%= css.imageContent %>">
  <img src="<%= logo %>" style=" <%= css.logoImage %>" id="logoImage"/>
</div>
<% include ./top.html.part.ejs %>
<h1 style="<%= css.h1 %>"><a style="<%= css.h1a %>" href="<%= title.link %>"><%= __( title.text, title.values ) %></a></h1>
<% include ./bottom.html.part.ejs %>
<% include ./top.html.part.ejs %>
<% if ( description ) { %>
<p><%- _t.nl2br( description ) %></p>
<% } %>
<% include ./bottom.html.part.ejs %>