<div class="imageContent" style="<%= css.imageContent %>">
  <img src="<%= logo %>" style="<%= css.logoImage %>" id="logoImage"/>
</div>
<% if ( typeof surTitle !== 'undefined' && surTitle ) { %>
  <h2 class="surTitle" style="<%= css.h2 + ' ' + css.surTitle %>"><%= surTitle %></h2>
<% } %>
<% include ./top.html.part.ejs %>
<h1 style="<%= css.h1 %> <%= ( typeof title.center !== 'undefined' ) && title.center ? css.centered : '' %>">
  <a style="<%= css.h1a %>" href="<%= title.link %>"><%= __( title.text, title.values ) %></a>
</h1>
<% include ./bottom.html.part.ejs %>
<% include ./top.html.part.ejs %>
<% if ( description ) { %>
<%- _txt.marked( description ) %>
<% } %>
<% include ./bottom.html.part.ejs %>
<% if ( typeof action !== 'undefined' ) { %>
<% include ./top.html.part.ejs %>
<div class="actionContent" style="<%= css.actionContent %>">
  <a class="action" href="<%= action.link %>" style="<%= css.action %>"><%= action.label %></a>
</div>
<% include ./bottom.html.part.ejs %>
<% } %>
<% include ./top.html.part.ejs %>
<% include ./bottom.html.part.ejs %>
<% if ( typeof footerActions !== 'undefined' ) { %>
<tr>
  <td style="<%= css.bodyContent %> <%= css.centered %>">
<% footerActions.forEach( a => { %>
    <a style="<%= css.smallprint %> <%= css.hPadded %>" href="<%= a.link %>"><%= a.text %></a>
<% }) %>
  </td>
</tr>
<% } %>
<tr>
  <td>
    <div class="imageContent" style="<%= css.imageContent %>">
      <a href="https://openagenda.com">
        <img src="<%= bottomLogo %>" style=" <%= css.bottomLogoImage %>" id="bottomLogoImage"/>
      </a>
    </div>
  </td>
</tr>