<%- include('./_formTop.ejs') %>
<div class="location-form">
  <div class="form-head">
    <a>retour</a>
    <h2>Valider une suggestion</h2>
    <div class="stakeholder">
      <span class="text-center suggestion-nav">
        <a href="#">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a href="#">2/4</a>
        <a href="#">
          <i class="fa fa-arrow-right"></i>
        </a>
      </span>
      <label>Suggestion de Edgar Maréchal</label>
      <ul>
        <li>Président de la Région Nord-Pas-de-Calais</li>
        <li><a href="#">edgar@npdc.gouv.fr</a></li>
        <li><a href="#">0139291929</a></li>
      </ul>
      <a href="#" class="text-danger">Ignorer cette suggestion</a>
    </div>
  </div>
  <%- include('./_name-disabled') %>
  <%- include('./_country-disabled') %>
  <%- include('./_address-disabled') %>
  <%- include('./_image-with-alternatives') %>
  <%- include('./_access-description-disabled') %>
  <%- include('./_telephone-disabled') %>
  <%- include('./_website') %>
  <%- include('./_links-disabled') %>
  <%- include('./_tags-with-alternatives') %>
  <div class="form-group bottom">
    <a href="#">Annuler</a>
    <button class="btn btn-primary">Créer</button>
  </div>
</div>
<%- include('./_formBottom.ejs') %>
