<div class="header">
  <div class="content">
<% if ( pager.routeName == 'searchEvents' ) { %>
    <% include ./searchEventsHeader %>
<% } else { %>
    <% include ./latestEventsHeader %>
<% } %>
  </div>
</div>
<div class="canvas">
  <div class="sidebar"></div>
  <main>
    <% include ../general/pages %>
    <ul>
<% events.forEach(function( event ) { %>
      <li>
        <article><!--
  <% if ( event.thumbnail ) { %>
          --><a class="pic" href="<%= genUrl('eventShow', [ { eventSlug: event.slug }, queryLang ? { lang: queryLang } : {} ]) %>">
            <img src="<%= event.thumbnail %>" alt="<%= event.title %>">
          </a><!--
  <% } %>
          --><div class="cnt<% if ( !event.thumbnail ) { %> nopic<% } %>" href="#">
  <% if ( event.category ) { %>
            <a class="ct mbClr" href="#<%= event.category.slug %>"><%= event.category.label %></a>
  <% } %>
            <a href="<%= genUrl('eventShow', [ { eventSlug: event.slug }, queryLang ? { lang: queryLang } : {} ]) %>"><span class="title"><%= event.title %></span></a>
            <a href="<%= genUrl('eventShow', [ { eventSlug: event.slug }, queryLang ? { lang: queryLang } : {} ]) %>"><span class="sti url"><%= __( event.dateRange[0], _t(event.dateRange[1]) ) %></span></a>
            <a href="<%= genUrl('eventShow', [ { eventSlug: event.slug }, queryLang ? { lang: queryLang } : {} ]) %>"><span class="dsc"><%= event.description %></span></a>
  <% if ( event.tags ) { %>
            <span class="tg">
              <ul>
  <% event.tags.forEach( function( tag ) { %>
                <li><a href="#<%= tag.slug %>"><%= tag.label %></a></li>
  <% }); %>
              </ul>
            </span>
  <% } %>
            <a class="lc" href="<%= genUrl('eventShow', [ { eventSlug: event.slug }, queryLang ? { lang: queryLang } : {} ]) %>">
              <i class="fa fa-map-marker mClr"></i>
              <span><%= event.placeName %></span>
            </a>

          </div>
        </article>
      </li>
<% }); %>
    </ul>
    <% include ../general/pages %>
  </main>
</div>