<div class="header">
  <div class="content">
    <h1><%= __('Results for "%what%"', { '%what%': what } ) %></h1>
    <ul>
      <li><span><%= __('%count% events', { '%count%': pager.total }) %></span></li>
      <li><a class="url" href="<%= genUrl('searchAgendas', { what: what }) %>"><%= __('see agendas') %></a></li>
    </ul>
  </div>
</div>
<div class="canvas">
  <div class="sidebar"></div>
  <main>
    <% include ../general/pages %>
    <ul>
<% events.forEach(function( event ) { %>
      <li>
        <article><!--
  <% if ( event.image ) { %>
          --><a class="pic" href="<%= genUrl('eventShow', { slug: event.slug }) %>">
            <img src="<%= _i( event.image ) %>">
          </a><!--
  <% } %>
          --><div class="cnt<% if ( !event.image ) { %> nopic<% } %>" href="#">
  <% if ( event.category ) { %>
            <a class="ct mbClr" href="#<%= event.category.slug %>"><%= event.category.label %></a>
  <% } %>
            <a href="<%= genUrl('eventShow', { slug: event.slug }) %>"><span class="title"><%= event.title %></span></a>
            <a href="<%= genUrl('eventShow', { slug: event.slug }) %>"><span class="sti url"><%= __( event.dateRange[0], _t(event.dateRange[1]) ) %></span></a>
            <a href="<%= genUrl('eventShow', { slug: event.slug }) %>"><span class="dsc"><%= event.description %></span></a>
  <% if ( event.tags ) { %>
            <span class="tg">
              <ul>
  <% event.tags.forEach( function( tag ) { %>
                <li><a href="#<%= tag.slug %>"><%= tag.label %></a></li>
  <% }); %>
              </ul>
            </span>
  <% } %>
            <a class="lc" href="<%= genUrl('eventShow', { slug: event.slug }) %>">
              <i class="fa fa-map-marker mClr"></i>
              <span><%= event.placeName %></span>
            </a>

          </div>
        </article>
      </li>
<% }); %>
    </ul>
    <% include ../general/pages %>
  </main>
</div>