<a href=" <%= genUrl( 'logout' ) %>"> <%= __('Log Out') %></a>

<div class="categories">
     <h2> <%= __('Categories') %> </h2>
     <% if (categories.length ) {  %>
     <% for( var key in categories ) { %>
     <ul>
	<li> <%= categories[key].label %> <a href=" <%= genUrl( 'categoryRemove', {slug: review.slug, categorySlug: categories[key].slug} ) %>"><%= __('Delete') %> </a> <a href=" <%= genUrl( 'categoryEdit', {slug: review.slug, categorySlug: categories[key].slug} ) %>"><%= __('Edit') %></a> </li> 
     </ul>
     <% } %>
     <% } else { %>
     <p> <%= __('No categories yet') %> </p>
     <% } %>

     <form method="post" action=" <%= category===null ? genUrl( 'categoryCreate', {slug: review.slug}) : genUrl( 'categoryUpdate', {slug: review.slug, categorySlug: category.slug}) %> ">
       <input type="text" name="label" placeholder="<%= __('Add a category') %>" <% if ( category ) { %>value="<%=category.label%>"<%  } %> />
       <button type="submit"> <%= category===null ? __('Add') : __('Edit') %> </button>
     </form>
     <% if ( errors && errors.category ) { %>
     	<p> <%= errors.category %>  </p>
     <% } %>
</div>

<div class="tags">
     <h2> <%= __('Tags') %> </h2>
     <% if (tags.length ) {  %>
     <% for( var key in tags ) { %>
     <ul>
	<li><%= tags[key].label  %> <a href=" <%= genUrl( 'tagRemove', {slug: review.slug, tagSlug: tags[key].slug} ) %>"><%= __('Delete') %></a> <a href=" <%= genUrl( 'tagEdit', {slug: review.slug, tagSlug: tags[key].slug} ) %>"><%= __('Edit') %></a> </li>
     </ul>
     <% } %>
     <% } else { %>
     <p> <%= __('No tags yet') %> </p>
     <% } %>

     <form method="post" action=" <%= tag===null ? genUrl( 'tagCreate', {slug: review.slug}) : genUrl( 'tagUpdate', {slug: review.slug, tagSlug: tag.slug}) %> ">
       <input type="text" name="label" placeholder="<%= __('Add a tag') %>" <% if ( tag ) { %>value="<%=tag.label%>"<%  } %> />
       <button type="submit"> <%= tag===null ? __('Add') : __('Edit') %> </button>
     </form>
     <% if ( errors && errors.tag ) { %>
     	<p> <%= errors.tag %>  </p>
     <% } %>
</div>