<%- include('../layout/_top.ejs') %>
  <div class="container legacy-event-form">
    <div class="row top-margined">
      <section class="col-sm-8 col-sm-offset-2 wsq">
        <div class="row">
          <div class="content">

            <div class="info-note padding-all-sm margin-v-sm">
              <label>Important</label>
              <p>Un message à caractère informatif</p>
            </div>

            <p class="bg-danger padding-all-sm margin-v-sm">Un message d'erreur</p>

            <div class="contribution-info">
              <p>Quelques recommandations pour inscrire votre événement :</p>
              <ul>
                <li><strong>Ne regroupez pas toute votre programmation dans une même fiche</strong>. Cela pénalisera vos événements qui ne pourront pas être interrogés par les filtres du moteur de recherche.</li>
                <li><strong>N'écrivez pas le titre de vos événements / lieux en majuscules</strong>. Les majuscules peuvent être mal interprétées par les lecteurs d'écran utilisées par les personnes malvoyantes.</li>
                <li><strong>N'intitulez pas le titre de votre événement avec le nom du lieu ou de la manifestation</strong>.</li>
                <li><strong>Ajoutez une image à votre événement</strong>. Les événements disposant d’une illustration sont deux fois plus consultés. Attention : ces images sont mises à disposition en données ouvertes. Vous devez obtenir l'accord du propriétaire
                  de l'image pour les diffuser.</li>
                <li><strong>Saisissez une description courte qui résume votre événement</strong>. La description longue doit être plus détaillée et la plus factuelle possible. ex : Visite libre =&gt; que peut-on observer pendant la visite, combien de temps
                  dure t-elle, est-il proposé des audio-guides, des livrets-découverte, etc. Elle permet aussi d'intégrer des contenus complémentaires type vidéos, images, liens.</li>
                <li><strong>Indiquez dans le champ "Conditions" les conditions de participation à l'événement</strong> : les offres tarifaires, les limites de places pour des visites de groupes, etc.</li>
                <li><strong>Le champ "Outils d'inscription" ne sert que si vous avez coché la case "sur inscription"</strong>. Précisez les différents moyens (lien, tél, courriel) pour s'inscrire à l'événement.</li>
                <li>Si votre lieu n'existe pas dans notre base de données, vous pouvez créer une nouvelle fiche. En revanche, vous ne pouvez pas modifier la fiche d'un lieu déjà créé mais simplement suggérer une modification. Votre demande sera traitée par
                  les modérateurs de l'agenda.</li>
                <li><strong>Dans l'adresse du lieu, mentionnez le n°, le nom de la voie et le nom de la commune</strong>. Vérifiez sur la carte que le pointeur est situé au bon endroit. Vous pouvez déplacer ce pointeur manuellement.Respectez autant que possible
                  les consignes de saisie figurant sur les différents champs du formulaire.</li>
              </ul>
              <p>Les événements proposés sur cet agenda seront validés avant publication par la coordination nationale de l'opération.</p>
              <p>Pour toute question, vous pouvez nous adresser un message via notre formulaire de contact:</p>
              <p><a target="_blank" href="http://nuitdesmusees.culturecommunication.gouv.fr/Nous-contacter"></a><a target="_blank" href="http://nuitdesmusees.culturecommunication.gouv.fr/Nous-contacter">http://nuitdesmusees.culturecommunication.gouv.fr/Nous-contacter</a></p>
              <p>Pour commander des affiches de la manifestation, veuillez remplir le formulaire de demande de matériel.</p>
              <p><a target="_blank" href="http://nuitdesmusees.culturecommunication.gouv.fr/Composants/Demande-de-materiel"></a><a target="_blank" href="http://nuitdesmusees.culturecommunication.gouv.fr/Composants/Demande-de-materiel">http://nuitdesmusees.culturecommunication.gouv.fr/Composants/Demande-de-materiel</a></p>
              <p>Bonne contribution</p>
            </div>

            <div>
              <div class="tc-selector">
                <div class="tc-head"><label><span>Catégories</span><span></span></label></div>
                <div class="tc-selector-items">
                  <div class="radio"><label><input type="radio"><span>Concerts</span></label></div>
                  <div class="radio"><label><input type="radio" checked=""><span>Expositions</span></label></div>
                  <div class="radio"><label><input type="radio"><span>Insolite</span></label></div>
                  <div class="radio"><label><input type="radio"><span>Cinéma</span></label></div>
                  <div class="radio"><label><input type="radio"><span>Clubbing</span></label></div>
                  <div class="radio"><label><input type="radio"><span>Conférences</span></label></div>
                  <div class="radio"><label><input type="radio"><span>Théâtre</span></label></div>
                  <div class="radio"><label><input type="radio"><span>Militant</span></label></div>
                  <div class="radio"><label><input type="radio"><span>Ateliers</span></label></div>
                </div>
              </div>
              <div class="tc-selector">
                <div class="tc-group">
                  <div class="tc-head"><label>Tags</label></div>
                  <div class="tc-selector-items">
                    <div class="checkbox"><label><input type="checkbox"><span>la bellevilloise</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>59 rivoli</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>la java</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>comédie de paris</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>jazz</span></label></div>
                    <div class="checkbox"><label><input type="checkbox" checked=""><span>espace jemmapes</span></label></div>
                    <div class="checkbox"><label><input type="checkbox" checked=""><span>théâtre du châtelet</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>printemps arabe</span></label></div>
                    <div class="checkbox"><label><input type="checkbox" checked=""><span>festival némo</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>exposition</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>dessins</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>écologie</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>l'entrepôt</span></label></div>
                    <div class="checkbox"><label><input type="checkbox" checked=""><span>vente</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>reine blanche</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>peinture</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>photo</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>photographie</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>concert</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>art</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>palais des glaces</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>reggae</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>punk</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>alhambra</span></label></div>
                    <div class="checkbox"><label><input type="checkbox"><span>science</span></label></div>
                  </div>
                </div>
              </div>

              <div class="js_event_image_canvas">
                <div class="event-image">
                  <div class="form-section">

                    <label>Image</label>

                    <div class="upload-image">
                      <form method="post" enctype="multipart/form-data" target="imageframe" action="#" style="width: 133px; height: 25px; position: absolute; overflow: hidden;">
                        <input type="file" name="image" style="opacity: 0; cursor: pointer; position: absolute; right: 0px;">
                      </form>
                      <button class="btn btn-default">charger une image</button>
                      <span class="js_loader loader"></span>
                      <p class="js_message info">l'image doit au moins avoir 300 pixels de largeur</p>
                    </div>
                    <div class="canvas js_image_canvas">
                      <img src="http://templates.cibul.net/event form/server/uploaded/evf1364.jpg?0.4436636630268773">
                    </div>
                    <div class="js_remove remove-action" style="display: block;">
                      <a class="btn btn-danger" href="#">retirer l'image</a>
                      <span class="js_remove_loader"></span>
                      <span class="js_remove_message info error"></span>
                    </div>

                    <div class="separator"></div>
                  </div>
                  <iframe name="imageframe" style="display: none;"></iframe>
                </div>
              </div>

              <div class="language-bar">
                <ul>
                  <li>
                    <div class="language-item">
                      <span>Français</span>
                      <span class="remove">✕</span>
                    </div>
                  </li>
                  <li>
                    <div class="language-item">
                      <span>English</span>
                      <span class="remove">✕</span>
                    </div>
                  </li>
                  <li>
                    <div class="language-item">
                      <span>Español</span>
                      <span class="remove">✕</span>
                    </div>
                  </li>
                </ul>
                <span class="language-add cform"><a class="url">Ajouter une langue</a></span>
              </div>

              <div class="multilingual-input-field">
                <ul class="list-unstyled">
                  <li>
                    <label><span>Titre</span><span> (*)</span></label>
                  </li>
                  <li class="lang-unit">
                    <label>fr</label>
                    <div>

                      <input placeholder="" name="title_fr" type="text" value="Super concert de la mort" class="form-control">
                      <span class="counter">116</span>
                    </div>
                  </li>
                  <li class="lang-unit">
                    <label>en</label>
                    <div>

                      <input placeholder="" name="title_en" type="text" value="Super Killer Concert" class="form-control">
                      <span class="counter">120</span>
                    </div>
                  </li>
                  <li class="lang-unit">
                    <label>es</label>
                    <div>

                      <input placeholder="" name="title_es" type="text" value="Super Concierto Que Mata" class="form-control">
                      <span class="counter">116</span>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="multilingual-input-field">
                <ul class="list-unstyled">
                  <li>
                    <label>
                <span>Description</span><span> (*)</span>
              </label>
                  </li>
                  <li class="lang-unit">
                    <label>fr</label>
                    <div>

                      <input placeholder="" name="description_fr" type="text" value="Moilneu" class="form-control">
                      <span class="counter">193</span>
                    </div>
                  </li>
                  <li class="lang-unit">
                    <label>en</label>
                    <div>

                      <input placeholder="" name="description_en" type="text" value="There will be music" class="form-control">
                      <span class="counter">181</span>
                    </div>
                  </li>
                  <li class="lang-unit">
                    <label>es</label>
                    <div>

                      <input placeholder="" name="description_es" type="text" value="Habra Musica" class="form-control">
                      <span class="counter">188</span>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="multilingual-input-field">
                <ul class="list-unstyled">
                  <li>
                    <label>
                      <span>Mots clés</span>
                      <span></span>
                    </label>
                  </li>
                  <li class="lang-unit">
                    <label>fr</label>
                    <div class="multi-input">
                      <div class="react-tagsinput">
                        <span>
                    <span class="react-tagsinput-tag">
                      <span>concert</span>
                        <a class="react-tagsinput-remove"></a>
                        </span>
                        <span class="react-tagsinput-tag">
                      <span>musique</span>
                        <a class="react-tagsinput-remove"></a>
                        </span>
                        <span class="react-tagsinput-tag">
                      <span>son</span>
                        <a class="react-tagsinput-remove"></a>
                        </span>
                        <input type="text" class="react-tagsinput-input" placeholder="">
                        </span>
                      </div>
                      <span class="counter">234</span>
                    </div>
                  </li>
                  <li class="lang-unit">
                    <label>en</label>
                    <div class="multi-input">
                      <div class="react-tagsinput">
                        <span>
                    <span class="react-tagsinput-tag"><span>concert</span><a class="react-tagsinput-remove"></a></span>
                        <span class="react-tagsinput-tag"><span>music</span><a class="react-tagsinput-remove"></a></span>
                        <span class="react-tagsinput-tag"><span>sound</span><a class="react-tagsinput-remove"></a></span>
                        <input type="text" class="react-tagsinput-input" placeholder="">
                        </span>
                      </div>
                      <span class="counter">234</span>
                    </div>
                  </li>
                  <li class="lang-unit">
                    <label>es</label>
                    <div class="multi-input">
                      <div class="react-tagsinput">
                        <span>
                    <span class="react-tagsinput-tag"><span>concierto</span><a class="react-tagsinput-remove"></a></span>
                        <span class="react-tagsinput-tag"><span>musica</span><a class="react-tagsinput-remove"></a></span>
                        <span class="react-tagsinput-tag"><span>sonido</span><a class="react-tagsinput-remove"></a></span>
                        <input type="text" class="react-tagsinput-input" placeholder="">
                        </span>
                      </div>
                      <span class="counter">230</span>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="multilingual-input-field">
                <ul class="list-unstyled">

                  <li><label>Description longue</label></li>
                  <li class="lang-unit">

                    <label>fr</label>

                    <div id="mceu_5" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px;">
                      <div id="mceu_5-body" class="mce-container-body mce-stack-layout">
                        <div id="mceu_6" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item mce-first" hidefocus="1" tabindex="-1" role="group">
                          <div id="mceu_6-body" class="mce-container-body mce-stack-layout">
                            <div id="mceu_7" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar">
                              <div id="mceu_7-body" class="mce-container-body mce-flow-layout">
                                <div id="mceu_8" class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group">
                                  <div id="mceu_8-body">
                                    <div id="mceu_0" class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first" tabindex="-1" aria-labelledby="mceu_0" role="button" aria-haspopup="true"><button id="mceu_0-open" role="presentation" type="button" tabindex="-1">Paragraphe <i class="mce-caret"></i></button></div>
                                    <div id="mceu_1" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_1" role="button"
                                      aria-label="Bold"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button></div>
                                    <div id="mceu_2" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_2" role="button" aria-label="Italic"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button></div>
                                    <div id="mceu_3" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_3" role="button" aria-label="Bullet list"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button></div>
                                    <div id="mceu_4" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_4" role="button" aria-label="Insert/edit link"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="mceu_9" class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px; position: relative;"><iframe id="mce_0_ifr" frameborder="0" allowtransparency="true" title="Zone Texte Riche. Appuyer sur ALT-F9 pour le menu. Appuyer sur ALT-F10 pour la barre d'outils. Appuyer sur ALT-0 pour de l'aide." src='javascript:""' style="width: 100%; height: 150px; display: block;"></iframe>
                          <label
                            style="position: absolute; top: 5px; left: 0px; color: rgb(136, 136, 136); padding: 1%; width: 98%; overflow: hidden; display: none;">
                            Saisissez une description détaillée de votre événement. Vouz pouvez également ajouter des liens vers des images (.jpg ou autre). Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY</label>
                        </div>
                      </div>
                    </div>
                    <div id="mceu_35" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px; display: none;">
                      <div id="mceu_35-body" class="mce-container-body mce-stack-layout">
                        <div id="mceu_36" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item mce-first" hidefocus="1" tabindex="-1" role="group">
                          <div id="mceu_36-body" class="mce-container-body mce-stack-layout">
                            <div id="mceu_37" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar">
                              <div id="mceu_37-body" class="mce-container-body mce-flow-layout">
                                <div id="mceu_38" class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group">
                                  <div id="mceu_38-body">
                                    <div id="mceu_30" class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first" tabindex="-1" aria-labelledby="mceu_30" role="button" aria-haspopup="true"><button id="mceu_30-open" role="presentation" type="button" tabindex="-1">Paragraphe <i class="mce-caret"></i></button></div>
                                    <div id="mceu_31" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_31" role="button"
                                      aria-label="Bold"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button></div>
                                    <div id="mceu_32" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_32" role="button" aria-label="Italic"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button></div>
                                    <div id="mceu_33" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_33" role="button" aria-label="Bullet list"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button></div>
                                    <div id="mceu_34" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_34" role="button"
                                      aria-label="Insert/edit link"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="mceu_39" class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px; position: relative;"><iframe id="mce_0_ifr" frameborder="0" allowtransparency="true" title="Zone Texte Riche. Appuyer sur ALT-F9 pour le menu. Appuyer sur ALT-F10 pour la barre d'outils. Appuyer sur ALT-0 pour de l'aide." src='javascript:""' style="width: 100%; height: 465px; display: block;"></iframe>
                          <label
                            style="position: absolute; top: 5px; left: 0px; color: rgb(136, 136, 136); padding: 1%; width: 98%; overflow: hidden; display: none;">Saisissez une description détaillée de votre événement. Vouz pouvez également ajouter des liens vers des images (.jpg ou autre). Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY</label>
                        </div>
                      </div>
                    </div>
                    <textarea class="mce-box-0" placeholder="Saisissez une description détaillée de votre événement.

              Vouz pouvez également ajouter des liens vers des images (.jpg ou autre).

              Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY" id="mce_0" aria-hidden="true" style="display: none; visibility: hidden;">&lt;p&gt;Pas vraiment plus à dire. Woof.&lt;/p&gt;
              </textarea>

                  </li>

                  <li class="lang-unit">
                    <label>en</label>
                    <div id="mceu_15" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px;">
                      <div id="mceu_15-body" class="mce-container-body mce-stack-layout">
                        <div id="mceu_16" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item mce-first" hidefocus="1" tabindex="-1" role="group">
                          <div id="mceu_16-body" class="mce-container-body mce-stack-layout">
                            <div id="mceu_17" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar">
                              <div id="mceu_17-body" class="mce-container-body mce-flow-layout">
                                <div id="mceu_18" class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group">
                                  <div id="mceu_18-body">
                                    <div id="mceu_10" class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first" tabindex="-1" aria-labelledby="mceu_10" role="button" aria-haspopup="true"><button id="mceu_10-open" role="presentation" type="button" tabindex="-1">Paragraphe <i class="mce-caret"></i></button></div>
                                    <div id="mceu_11" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_11" role="button"
                                      aria-label="Bold"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button></div>
                                    <div id="mceu_12" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_12" role="button" aria-label="Italic"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button></div>
                                    <div id="mceu_13" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_13" role="button" aria-label="Bullet list"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button></div>
                                    <div id="mceu_14" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_14" role="button"
                                      aria-label="Insert/edit link"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="mceu_19" class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px; position: relative;"><iframe id="mce_11_ifr" frameborder="0" allowtransparency="true" title="Zone Texte Riche. Appuyer sur ALT-F9 pour le menu. Appuyer sur ALT-F10 pour la barre d'outils. Appuyer sur ALT-0 pour de l'aide." src='javascript:""' style="width: 100%; height: 150px; display: block;"></iframe>
                          <label
                            style="position: absolute; top: 5px; left: 0px; color: rgb(136, 136, 136); padding: 1%; width: 98%; overflow: hidden; display: none;">Saisissez une description détaillée de votre événement. Vouz pouvez également ajouter des liens vers des images (.jpg ou autre). Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY</label>
                        </div>
                      </div>
                    </div>
                    <div id="mceu_45" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px; display: none;">
                      <div id="mceu_45-body" class="mce-container-body mce-stack-layout">
                        <div id="mceu_46" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item mce-first" hidefocus="1" tabindex="-1" role="group">
                          <div id="mceu_46-body" class="mce-container-body mce-stack-layout">
                            <div id="mceu_47" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar">
                              <div id="mceu_47-body" class="mce-container-body mce-flow-layout">
                                <div id="mceu_48" class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group">
                                  <div id="mceu_48-body">
                                    <div id="mceu_40" class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first" tabindex="-1" aria-labelledby="mceu_40" role="button" aria-haspopup="true"><button id="mceu_40-open" role="presentation" type="button" tabindex="-1">Paragraphe <i class="mce-caret"></i></button></div>
                                    <div id="mceu_41" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_41" role="button"
                                      aria-label="Bold"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button></div>
                                    <div id="mceu_42" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_42" role="button" aria-label="Italic"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button></div>
                                    <div id="mceu_43" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_43" role="button" aria-label="Bullet list"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button></div>
                                    <div id="mceu_44" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_44" role="button"
                                      aria-label="Insert/edit link"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="mceu_49" class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px; position: relative;"><iframe id="mce_11_ifr" frameborder="0" allowtransparency="true" title="Zone Texte Riche. Appuyer sur ALT-F9 pour le menu. Appuyer sur ALT-F10 pour la barre d'outils. Appuyer sur ALT-0 pour de l'aide." src='javascript:""' style="width: 100%; height: 429px; display: block;"></iframe>
                          <label
                            style="position: absolute; top: 5px; left: 0px; color: rgb(136, 136, 136); padding: 1%; width: 98%; overflow: hidden; display: none;">Saisissez une description détaillée de votre événement. Vouz pouvez également ajouter des liens vers des images (.jpg ou autre). Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY</label>
                        </div>
                      </div>
                    </div>
                    <div id="mceu_65" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px; display: none;">
                      <div id="mceu_65-body" class="mce-container-body mce-stack-layout">
                        <div id="mceu_66" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item mce-first" hidefocus="1" tabindex="-1" role="group">
                          <div id="mceu_66-body" class="mce-container-body mce-stack-layout">
                            <div id="mceu_67" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar">
                              <div id="mceu_67-body" class="mce-container-body mce-flow-layout">
                                <div id="mceu_68" class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group">
                                  <div id="mceu_68-body">
                                    <div id="mceu_60" class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first" tabindex="-1" aria-labelledby="mceu_60" role="button" aria-haspopup="true"><button id="mceu_60-open" role="presentation" type="button" tabindex="-1">Paragraphe <i class="mce-caret"></i></button></div>
                                    <div id="mceu_61" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_61" role="button"
                                      aria-label="Bold"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button></div>
                                    <div id="mceu_62" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_62" role="button" aria-label="Italic"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button></div>
                                    <div id="mceu_63" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_63" role="button" aria-label="Bullet list"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button></div>
                                    <div id="mceu_64" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_64" role="button"
                                      aria-label="Insert/edit link"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="mceu_69" class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px; position: relative;"><iframe id="mce_11_ifr" frameborder="0" allowtransparency="true" title="Zone Texte Riche. Appuyer sur ALT-F9 pour le menu. Appuyer sur ALT-F10 pour la barre d'outils. Appuyer sur ALT-0 pour de l'aide." src='javascript:""' style="width: 100%; height: 429px; display: block;"></iframe>
                          <label
                            style="position: absolute; top: 5px; left: 0px; color: rgb(136, 136, 136); padding: 1%; width: 98%; overflow: hidden; display: none;">Saisissez une description détaillée de votre événement. Vouz pouvez également ajouter des liens vers des images (.jpg ou autre). Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY</label>
                        </div>
                      </div>
                    </div>

                    <textarea class="mce-box-1" placeholder="Saisissez une description détaillée de votre événement.

              Vouz pouvez également ajouter des liens vers des images (.jpg ou autre).

              Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY" id="mce_11" aria-hidden="true" style="display: none; visibility: hidden;">&lt;p&gt;Not really much more to tell&lt;/p&gt;
            </textarea>
                  </li>

                  <li class="lang-unit">

                    <label class="off32">es</label>
                    <div id="mceu_25" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px;">
                      <div id="mceu_25-body" class="mce-container-body mce-stack-layout">
                        <div id="mceu_26" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item mce-first" hidefocus="1" tabindex="-1" role="group">
                          <div id="mceu_26-body" class="mce-container-body mce-stack-layout">
                            <div id="mceu_27" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar">
                              <div id="mceu_27-body" class="mce-container-body mce-flow-layout">
                                <div id="mceu_28" class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group">
                                  <div id="mceu_28-body">
                                    <div id="mceu_20" class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first" tabindex="-1" aria-labelledby="mceu_20" role="button" aria-haspopup="true"><button id="mceu_20-open" role="presentation" type="button" tabindex="-1">Paragraphe <i class="mce-caret"></i></button></div>
                                    <div id="mceu_21" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_21" role="button"
                                      aria-label="Bold"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button></div>
                                    <div id="mceu_22" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_22" role="button" aria-label="Italic"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button></div>
                                    <div id="mceu_23" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_23" role="button" aria-label="Bullet list"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button></div>
                                    <div id="mceu_24" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_24" role="button"
                                      aria-label="Insert/edit link"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="mceu_29" class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px; position: relative;"><iframe id="mce_12_ifr" frameborder="0" allowtransparency="true" title="Zone Texte Riche. Appuyer sur ALT-F9 pour le menu. Appuyer sur ALT-F10 pour la barre d'outils. Appuyer sur ALT-0 pour de l'aide." src='javascript:""' style="width: 100%; height: 150px; display: block;"></iframe>
                          <label
                            style="position: absolute; top: 5px; left: 0px; color: rgb(136, 136, 136); padding: 1%; width: 98%; overflow: hidden; display: none;">Saisissez une description détaillée de votre événement. Vouz pouvez également ajouter des liens vers des images (.jpg ou autre). Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY</label>
                        </div>
                      </div>
                    </div>
                    <div id="mceu_55" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px; display: none;">
                      <div id="mceu_55-body" class="mce-container-body mce-stack-layout">
                        <div id="mceu_56" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item mce-first" hidefocus="1" tabindex="-1" role="group">
                          <div id="mceu_56-body" class="mce-container-body mce-stack-layout">
                            <div id="mceu_57" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar">
                              <div id="mceu_57-body" class="mce-container-body mce-flow-layout">
                                <div id="mceu_58" class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group">
                                  <div id="mceu_58-body">
                                    <div id="mceu_50" class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first" tabindex="-1" aria-labelledby="mceu_50" role="button" aria-haspopup="true"><button id="mceu_50-open" role="presentation" type="button" tabindex="-1">Paragraphe <i class="mce-caret"></i></button></div>
                                    <div id="mceu_51" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_51" role="button"
                                      aria-label="Bold"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button></div>
                                    <div id="mceu_52" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_52" role="button" aria-label="Italic"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button></div>
                                    <div id="mceu_53" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_53" role="button" aria-label="Bullet list"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button></div>
                                    <div id="mceu_54" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_54" role="button"
                                      aria-label="Insert/edit link"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="mceu_59" class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px; position: relative;"><iframe id="mce_12_ifr" frameborder="0" allowtransparency="true" title="Zone Texte Riche. Appuyer sur ALT-F9 pour le menu. Appuyer sur ALT-F10 pour la barre d'outils. Appuyer sur ALT-0 pour de l'aide." src='javascript:""' style="width: 100%; height: 405px; display: block;"></iframe>
                          <label
                            style="position: absolute; top: 5px; left: 0px; color: rgb(136, 136, 136); padding: 1%; width: 98%; overflow: hidden; display: none;">Saisissez une description détaillée de votre événement. Vouz pouvez également ajouter des liens vers des images (.jpg ou autre). Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY</label>
                        </div>
                      </div>
                    </div>
                    <div id="mceu_75" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px; display: none;">
                      <div id="mceu_75-body" class="mce-container-body mce-stack-layout">
                        <div id="mceu_76" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item mce-first" hidefocus="1" tabindex="-1" role="group">
                          <div id="mceu_76-body" class="mce-container-body mce-stack-layout">
                            <div id="mceu_77" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar">
                              <div id="mceu_77-body" class="mce-container-body mce-flow-layout">
                                <div id="mceu_78" class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group">
                                  <div id="mceu_78-body">
                                    <div id="mceu_70" class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first" tabindex="-1" aria-labelledby="mceu_70" role="button" aria-haspopup="true"><button id="mceu_70-open" role="presentation" type="button" tabindex="-1">Paragraphe <i class="mce-caret"></i></button></div>
                                    <div id="mceu_71" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_71" role="button"
                                      aria-label="Bold"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button></div>
                                    <div id="mceu_72" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_72" role="button" aria-label="Italic"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button></div>
                                    <div id="mceu_73" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_73" role="button" aria-label="Bullet list"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button></div>
                                    <div id="mceu_74" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_74" role="button"
                                      aria-label="Insert/edit link"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="mceu_79" class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px; position: relative;"><iframe id="mce_12_ifr" frameborder="0" allowtransparency="true" title="Zone Texte Riche. Appuyer sur ALT-F9 pour le menu. Appuyer sur ALT-F10 pour la barre d'outils. Appuyer sur ALT-0 pour de l'aide." src='javascript:""' style="width: 100%; height: 405px; display: block;"></iframe>
                          <label
                            style="position: absolute; top: 5px; left: 0px; color: rgb(136, 136, 136); padding: 1%; width: 98%; overflow: hidden; display: none;">Saisissez une description détaillée de votre événement. Vouz pouvez également ajouter des liens vers des images (.jpg ou autre). Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY</label>
                        </div>
                      </div>
                    </div>
                    <div id="mceu_85" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px; display: none;">
                      <div id="mceu_85-body" class="mce-container-body mce-stack-layout">
                        <div id="mceu_86" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item mce-first" hidefocus="1" tabindex="-1" role="group">
                          <div id="mceu_86-body" class="mce-container-body mce-stack-layout">
                            <div id="mceu_87" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar">
                              <div id="mceu_87-body" class="mce-container-body mce-flow-layout">
                                <div id="mceu_88" class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group" role="group">
                                  <div id="mceu_88-body">
                                    <div id="mceu_80" class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first" tabindex="-1" aria-labelledby="mceu_80" role="button" aria-haspopup="true"><button id="mceu_80-open" role="presentation" type="button" tabindex="-1">Paragraphe <i class="mce-caret"></i></button></div>
                                    <div id="mceu_81" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_81" role="button"
                                      aria-label="Bold"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button></div>
                                    <div id="mceu_82" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_82" role="button" aria-label="Italic"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button></div>
                                    <div id="mceu_83" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_83" role="button" aria-label="Bullet list"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button></div>
                                    <div id="mceu_84" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_84" role="button"
                                      aria-label="Insert/edit link"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="mceu_89" class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px; position: relative;"><iframe id="mce_12_ifr" frameborder="0" allowtransparency="true" title="Zone Texte Riche. Appuyer sur ALT-F9 pour le menu. Appuyer sur ALT-F10 pour la barre d'outils. Appuyer sur ALT-0 pour de l'aide." src='javascript:""' style="width: 100%; height: 405px; display: block;"></iframe>
                          <label
                            style="position: absolute; top: 5px; left: 0px; color: rgb(136, 136, 136); padding: 1%; width: 98%; overflow: hidden; display: none;">Saisissez une description détaillée de votre événement. Vouz pouvez également ajouter des liens vers des images (.jpg ou autre). Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY</label>
                        </div>
                      </div>
                    </div>

                    <textarea class="mce-box-2" placeholder="Saisissez une description détaillée de votre événement.

              Vouz pouvez également ajouter des liens vers des images (.jpg ou autre).

              Intégrez des vidéos youtube en collant le lien de la page. ex: http://www.youtube.com/watch?v=wZZ7oFKsKzY" id="mce_12" aria-hidden="true" style="display: none; visibility: hidden;">
            </textarea>

                  </li>

                </ul>

                <div class="multilingual-input-field">
                  <ul class="list-unstyled">
                    <li>
                      <label><span>Conditions</span><span></span></label>
                    </li>
                    <li class="lang-unit">
                      <label>fr</label>
                      <div>

                        <input placeholder="Entrée libre, sur inscription, autre..." name="conditions_fr" type="text" value="C'est un peu cher" class="form-control">
                        <span class="counter">238</span>
                      </div>
                    </li>
                    <li class="lang-unit">
                      <label>en</label>
                      <div>

                        <input placeholder="Entrée libre, sur inscription, autre..." name="conditions_en" type="text" value="This is a bit pricey" class="form-control">
                        <span class="counter">235</span>
                      </div>
                    </li>
                    <li class="lang-unit">
                      <label>es</label>
                      <div>

                        <input placeholder="Entrée libre, sur inscription, autre..." name="conditions_es" type="text" value="" class="form-control">
                        <span class="counter">255</span>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="margin-v-md">
                  <%- include('_registration.ejs') %>
                </div>

                <div class="margin-v-md">
                  <%- include('_registration-empty.ejs') %>
                </div>

                <div class="accessibility">
                  <div class="checkbox">
                    <label><input type="checkbox" name="accessibility" checked=""> Accessibilité particulière</label>
                  </div>
                  <ul class="list-unstyled">
                    <li>
                      <div class="box">
                        <div class="ill mi"></div>
                      </div>
                      <label>handicap moteur</label>
                    </li>
                    <li>
                      <div class="box checked">
                        <div class="ill hi"></div>
                      </div>
                      <label>handicap auditif</label>
                    </li>
                    <li>
                      <div class="box">
                        <div class="ill pi"></div>
                      </div>
                      <label>handicap psychique</label>
                    </li>
                    <li>
                      <div class="box">
                        <div class="ill vi"></div>
                      </div>
                      <label>handicap visuel</label>
                    </li>
                    <li>
                      <div class="box checked">
                        <div class="ill sl"></div>
                      </div>
                      <label>langue des signes</label>
                    </li>
                  </ul>
                </div>

                <div class="target-age">
                  <label class="checkbox-inline">
            <input type="checkbox" name="age" checked=""> Age du public ciblé
          </label>
                  <div class="age-inputs">
                    <span> -</span>
                    <label>De</label>
                    <div class="Select is-searchable has-value">
                      <input type="hidden" name="minage" value="10">
                      <div class="Select-control">
                        <div class="Select-placeholder">10 ans</div>
                        <div class="Select-input " style="display:inline-block;">
                          <input value="" tabindex="0" style="width:5px;box-sizing:content-box;">
                          <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; letter-spacing: normal;"></div>
                        </div>
                        <span class="Select-arrow-zone">
                <span class="Select-arrow"></span>
                        </span>
                      </div>
                    </div>
                    <label>à</label>
                    <div class="Select is-searchable has-value">
                      <input type="hidden" name="maxage" value="90">
                      <div class="Select-control">
                        <div class="Select-placeholder">90 ans</div>
                        <div class="Select-input " style="display:inline-block;">
                          <input value="" tabindex="0" style="width:5px;box-sizing:content-box;">
                          <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; letter-spacing: normal;"></div>
                        </div>
                        <span class="Select-arrow-zone">
                <span class="Select-arrow"></span>
                        </span>
                      </div>
                    </div>
                  </div>

                </div>

                <div>
                  <div class="custom-fields">
                    <div class="form-group">
                      <label>
                        <span>Un nombre</span><span> (*)</span>
                      </label>
                      <input name="somenmber" class="form-control" type="text" value="">
                      <span class="error">For reasons.</span>
                    </div>

                    <div class="multilingual-input-field">
                      <ul class="list-unstyled">
                        <li>
                          <label>
                            <span>Ceci est un petit texte</span>
                          </label>
                        </li>
                        <li class="lang-unit">
                          <label>fr</label>
                          <div class="multi-input">
                            <input placeholder="" name="somesmalltext_fr" type="text" value="" class="form-control">
                            <span class="counter">50</span>
                          </div>
                        </li>
                        <li class="lang-unit">
                          <label>en</label>
                          <div>
                            <input placeholder="" name="somesmalltext_en" type="text" value="" class="form-control">
                            <span class="counter">50</span>
                          </div>
                        </li>
                        <li class="lang-unit">
                          <label>es</label>
                          <div>
                            <input placeholder="" name="somesmalltext_es" type="text" value="" class="form-control">
                            <span class="counter">50</span>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="form-group">
                      <label>
              <span>Ceci est un long texte</span><span> (*)</span>
            </label>
                      <span class="info">Vous devez saisir quelque chose ici</span>
                      <textarea class="form-control" rows="4" name="somelongtext"></textarea>
                    </div>

                    <div class="checkbox">
                      <label>
              <input type="checkbox">
              <span>Ceci est un champ checkbox</span><span> (*)</span>
            </label>
                    </div>


                    <div class="form-group">
                      <label>
              <span>Hep les champs radio</span><span> (*)</span>
            </label>
                      <span class="info">
              <span>Quelques détails en plus</span>
                      </span>
                      <ul class="list-unstyled">
                        <li class="radio">
                          <label><input type="radio" name="radiofields"> oui</label>
                        </li>
                        <li class="radio">
                          <label><input type="radio" name="radiofields"> non</label>
                        </li>
                        <li class="radio">
                          <label><input type="radio" name="radiofields"> peut-être</label>
                        </li>
                      </ul>
                    </div>


                    <div class="cform">
                      <label>
              <span>Hep les champs à choix multiple</span><span> (*)</span>
            </label>
                      <span class="info">Liste à choix multiples</span>
                      <ul class="list-unstyled">
                        <li class="checkbox">
                          <label><input type="checkbox" name="multichoice"> oui</label>
                        </li>
                        <li class="checkbox">
                          <label><input type="checkbox" name="multichoice"> non</label>
                        </li>
                        <li class="checkbox">
                          <label><input type="checkbox" name="multichoice"> peut-être</label>
                        </li>
                      </ul>
                    </div>


                    <div class="form-group">
                      <label>
              <span>Hep les champs radio</span><span> (*)</span>
            </label>
                      <div class="Select is-searchable">
                        <input type="hidden" value="">
                        <div class="Select-control">
                          <div class="Select-placeholder">Select...</div>
                          <div class="Select-input " style="display:inline-block;"><input value="" tabindex="0" style="width:5px;box-sizing:content-box;">
                            <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; letter-spacing: normal;"></div>
                          </div>
                          <span class="Select-arrow-zone">
                  <span class="Select-arrow"></span>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="image-upload">
                      <label>Chargez votre image de profil</label>
                      <span class="info">fds qfdsq</span>
                      <form class="empty" method="post" enctype="multipart/form-data" target="frame91783" action="/upload">
                        <div class="form-inline actions">
                          <span></span>
                          <div class="form-group upload-group">
                            <input name="image" type="file" accept=".png, .gif, .jpg, .jpeg, .bmp">
                            <button tabindex="-1" class="btn btn-default">
                    <i class="fa fa-upload"></i>
                  </button>
                          </div>
                          <button class="btn btn-primary btn-block margin-top-xs">
                  <i class="fa fa-clipboard" aria-hidden="true"></i>
                </button>
                        </div>
                        <span></span>
                        <input type="hidden" name="callback" value="uploadCallback98830"><span></span>
                      </form>
                      <iframe name="frame91783" style="display:none;"></iframe>
                    </div>

                    <div class="separator"></div>

                  </div>

                </div>

                <div class="form-group margin-v-lg">
                  <label>Lieu</label>
                  <div class="location-selector">
                    <div class="selected-location">
                      <div class="actions"><a class="btn btn-default">changer</a></div>
                      <div>
                        <div class="name">La Grande Arche</div>
                        <div class="address">Esplanade de la Grande Arche, Nanterre</div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="form-group margin-v-lg">
                  <p class="help pull-right"><a target="_blank" alt="Comment ça marche?" href="#"><i class="fa fa-question-circle"></i></a></p>

                  <label>Horaires</label>

                  <%- include('_timings-picker.ejs') %>

                </div>


                <div class="form-group translation-form margin-v-lg"><a class="pull-right help" target="_blank" href="#"><i class="fa fa-question-circle"></i><label style="display:none;">En savoir plus</label></a>
                  <label>Traduction automatique</label>
                  <div class="form-inline row">
                    <div class="col-sm-6"><label>Langue réference</label>
                      <div class="line"><span class="disabled">Français</span><span><span> - </span><a href="#">Changer</a></span>
                      </div>
                    </div>
                    <div class="col-sm-6"><label>Langues de destination</label>
                      <ul class="list-unstyled line">
                        <li class="checkbox margin-right-sm"><label><input type="checkbox"><span>IT</span></label></li>
                        <li class="checkbox margin-right-sm"><label><input type="checkbox"><span>ES</span></label></li>
                        <li class="checkbox margin-right-sm"><label><input type="checkbox" checked=""><span>DE</span></label></li>
                        <li class="checkbox margin-right-sm"><label><input type="checkbox" checked=""><span>EN</span></label></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="js_form_canvas_below">
                  <div class="submit cform">
                    <div class="event-errors js_errors display-none">
                      <p>Certains champs ont des saisies non valides. Complétez le formulaire avant de retenter de le soumettre.</p>
                      <ul>
                      </ul>
                    </div>


                    <div class="js_actions submit-actions">
                      <button class="btn btn-success">Appliquer les changements</button>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>




        </div>
    </div>
    </section>
  </div>
  </div>
  <%- include('../layout/_bottom.ejs') %>
