<%- include('../layout/_top.ejs') %>
<div class="container">
  <div class="row top-margined">

    <section class="col-sm-6 col-sm-offset-3 wsq">
      <div class="content event-references">

        <h2 class="margin-bottom-lg">Event form list presentation</h2>

        <div class="configure">

          <label>Evénements liés</label>
          <p>Liez d'autres événements de l'agenda à votre événement</p>

          <ul class="list-unstyled references">
            <li><%- include('_reference-item.ejs') %></li>
            <li><%- include('_reference-item.ejs') %></li>
            <li><%- include('_reference-item.ejs') %></li>
          </ul>

          <a class="btn btn-primary" href="#">Ajouter un événement</a>
          <span class="margin-h-sm">ou</span>
          <a class="" href="#">Charger des événements similaires</a>

          <p class="margin-top-lg"><strong>Commentaire template</strong>: Le champ ci-dessous remplace 'Ajouter un événement' quand le bouton a été cliqué:</p>
          <div class="search dropdown open">
            <input type="text" class="form-control" placeholder="Chercher via titre ou lieu" />
            <ul class="dropdown-menu">
              <li><%- include('_reference-item-section.ejs') %></li>
              <li><%- include('_reference-item.ejs') %></li>
              <li><%- include('_reference-item.ejs') %></li>
              <li><%- include('_reference-item.ejs') %></li>
            </ul>
          </div>

        </div>
      </div>
    </section>
  </div>
  <div class="row" style="margin-top: 320px;">

    <section class="col-sm-6 col-sm-offset-3">

      <div class="event-references show">

        <h2>Event page presentation</h2>

        <h3>Voir Aussi</h3>

        <div class="media content wsq">
          <div class="media-left">
            <a class="event-pic" href="#">
              <img class="media-object" src="//02034510ef5d488190e4cf17d19a788b.s3.pub1.infomaniak.cloud/main/evtbevent_les-estivales-2016_707612.jpg">
            </a>
          </div>
          <div class="media-body">
            <a href="#">
              <h4 class="media-heading">La photosynthèse pour les aigris</h4>
              <ul class="list-unstyled">
                <li>L'abreuvoir, Quimper</li>
                <li>25 janvier, 10h</li>
              </ul>
            </a>
          </div>
        </div>

        <div class="media content wsq">
          <div class="media-body">
            <a href="#">
              <h4 class="media-heading">La photosynthèse pour les aigris</h4>
              <ul class="list-unstyled">
                <li>L'abreuvoir, Quimper</li>
                <li>25 janvier, 10h</li>
              </ul>
            </a>
          </div>
        </div>

      </div>

    </section>

  </div>
</div>
<%- include('../layout/_bottom.ejs') %>
