<div class="canvas page signup">
  <h1><%= __('Create an account') %></h1>
  <form class="cform" method="post" action="<%= genUrl( 'signup', optionals ) %>">
    <ul>
      <li>
        <label for="full_name"><%= __( 'Your name' ) %></label>
        <input type="text" name="full_name" value="<%= full_name %>"/>
<% if ( errors.full_name ) { %>
        <span class="error"><%= __( errors.full_name ) %></span>
<% } %>
      </li>
      <li>
        <label for="email"><%= __( 'Email' ) %></label>
        <input type="email" name="email" value="<%= email %>" />
<% if ( errors.email ) { %>
        <span class="error"><%= __( errors.email ) %></span>
<% } %>
      </li>
      <li>
        <label for="password"><%= __( 'Password' ) %></label>
        <input type="password" name="password" value="<%= password %>" />
<% if ( errors.password ) { %>
      <span class="error"><%= __( errors.password ) %></span>
<% } %>
      </li>
     	<li>
        <label for="repeat"><%= __( 'Repeat Password' ) %></label> 
     	  <input type="password" name="repeat" value="<%= repeat %>" />
<% if ( errors.repeat ) { %>
        <span class="error"><%= __( errors.repeat ) %></span>
<% } %>
      </li>
<% if ( useCaptcha ) { %>
      <li>
        <div class="captcha">
          <div class="g-recaptcha" data-sitekey="<%= captchaKey %>"></div>
        </div>
<% if ( errors.captcha ) { %>
        <span class="error"><%= __( errors.captcha ) %></span>
<% } %> 
      </li>
<% } %>
      <li>
        <button name="signup" class="blue" type="submit"><%= __( 'Sign Up' ) %></button>
      </li>
    </ul>
  </form>

  <ul class="services cform">
    <li>
      <a id="facebook-signup" class="button facebook-blue fit" href="<%= genUrl( 'facebookSignup', optionals ) %>">
        <i class="fa fa-facebook"></i>
        <span>Facebook</span>
      </a>
<% if ( errors.facebookUid ) { %>
      <span class="error"><%= __( errors.facebookUid ) %></span>
<% } %>
    </li>
    <li>
      <a id="twitter-signup" class="button twitter-blue fit" href="<%= genUrl( 'twitterSignup', optionals ) %>">
        <i class="fa fa-twitter"></i>
        <span>Twitter</span>
      </a>
<% if ( errors.twitterUid ) { %>
      <span class="error"><%= __( errors.twitterUid ) %></span>
<% } %>
    </li>
    <li>
      <a id="google-signup" class="button google-red fit" href="<%= genUrl( 'googleSignup', optionals ) %>">
        <i class="fa fa-google-plus"></i>
        <span>Google Plus</span>
      </a>
<% if ( errors.googleUid ) { %>
      <span class="error"><%= __( errors.googleUid ) %></span>
<% } %>
    </li>
  </ul>
  <footer>
    
    <p><a class="url" href="<%= genUrl( 'signin', optionals ) %>"><%= __( 'I already have an account' ) %></a></p>
    <p><%- __( 'By creating an account you agree to the %terms%.', { '%terms%' : '<a class="url" href="' + genUrl( 'termsShow' ) + '">' + __('Terms of Use') + '</a>' }) %></p>
  </footer>
</div>