<% if ( agenda ) { %>
<% include ../agenda/head.part.ejs %>
<% } %>
<div class="container">
  <% include _headMessage.ejs %>
  <div class="row top-margined">
    <section class="col-sm-6 col-sm-offset-3 wsq">
      <div class="row">
        <div class="content">
          <h2><%= __('Connection') %></h2>
<% if ( typeof message !== 'undefined' || typeof errors.email !== 'undefined' || typeof errors.password !== 'undefined' ) { %>
          <div class="form-group">
<% if ( typeof message !== 'undefined' ) { %>
            <span class="error"><%= __( message ) %></span>
<% } %>
<% if ( typeof errors.email !== 'undefined' ) { %>
            <span class="error"><%= __( errors.email ) %></span>
<% } %>
<% if ( typeof errors.password !== 'undefined' ) { %>
            <p class="bg-danger"><%- __( 'Your password is incorrect. We can help you to %change%', { '%change%' : '<a href="' + genUrl( 'lostPassword' ) + '">' + __( 'change it' ) + '</a>' } ) %></p>              
            </p>
<% } %>
          </div>
<% } %>
        </div>
      </div>
      <div class="row">

        <form class="col-sm-6 content" method="post">
          <div class="form-group">
            <label for="email"><%= __('Email') %></label>
            <input class="form-control" type="email" name="email" value="<%= email %>" />
          </div>
          <div class="form-group">
            <label for="password"><%= __('Password') %></label>
            <input class="form-control" type="password" name="password" value="<%= password %>" />
          </div>
          <div class="form-group">
            <button class="btn btn-success" name="signin" type="submit"><%= __( 'Sign in' ) %></button>
          </div>
        </form>

        <div class="col-sm-6 content social">

          <div class="form-group">
            <a id="facebook-signup" class="btn btn-default btn-facebook fit" href="<%= genUrl( agenda ? 'agendaFacebookSignin' : 'facebookSignin', [ optionals, agenda ? { slug: agenda.slug } : {} ] ) %>">
              <i class="fa fa-facebook"></i>
              <span>Facebook</span>
            </a>
          </div>

          <div class="form-group">
            <a id="twitter-signup" class="btn btn-default btn-twitter fit" href="<%= genUrl( agenda ? 'agendaTwitterSignin' : 'twitterSignin', [ optionals, agenda ? { slug: agenda.slug } : {} ] ) %>">
              <i class="fa fa-twitter"></i>
              <span>Twitter</span>
            </a>
          </div>

          <div class="form-group">
            <a id="google-signup" class="btn btn-default btn-google fit" href="<%= genUrl( agenda ? 'agendaGoogleSignin' : 'googleSignin', [ optionals, agenda ? { slug: agenda.slug } : {} ] ) %>">
              <i class="fa fa-google-plus"></i>
              <span>Google Plus</span>
            </a>
          </div>

        </div>
      </div>
      <div class="row content">
        <p><%= __( 'Don\'t have an account yet?' ) %> <a id="signup" class="url" href="<%= genUrl( agenda ? 'agendaSignup' : 'signup', [ optionals, agenda ? { slug: agenda.slug } : {} ] ) %>"><%= __('Create one!') %></a></p>
        <p><a id="lost-password" href="<%= genUrl( 'lostPassword' ) %>" class="url"><%= __( 'I lost my password' ) %></a></p>
      </div>
    </section>
  </div>
</div>