<div class="canvas page">
  <h1><%= __('Connection') %></h1>
<% if ( typeof message !== 'undefined' || typeof errors.email !== 'undefined' || typeof errors.password !== 'undefined' ) { %>
      <div class="cform">
<% if ( typeof message !== 'undefined' ) { %>
        <span class="error"><%= __( message ) %></span>
<% } %>
<% if ( typeof errors.email !== 'undefined' ) { %>
        <span class="error"><%= __( errors.email ) %></span>
<% } %>
<% if ( typeof errors.password !== 'undefined' ) { %>
        <span class="error"><%= __( errors.password ) %></span>
<% } %>
      </div>
<% } %>
  <form class="cform" method="post">
    <ul>
      <li>
        <label for="email"><%= __('Email') %></label>
        <input type="email" name="email" value="<%= email %>" />
      </li>
      <li>
        <label for="password"><%= __('Password') %></label>
      	<input type="password" name="password" value="<%= password %>" />
      </li>
      <li>
        <button type="submit"><%= __('Sign in') %></button>
      </li>
    </ul>
  </form>
  
  <ul class="services">
    <li>
      <a class="button facebook-blue fit big" href="<%= genUrl( 'facebookSignin', { redirect: redirect, iToken: iToken } ) %>">
        <i class="fa fa-facebook"></i>
        <span>Facebook</span>
      </a>
    </li>
    <li>
      <a class="button twitter-blue fit big" href="<%= genUrl( 'twitterAuth', { redirect: redirect, iToken: iToken } ) %>">
        <i class="fa fa-twitter"></i>
        <span>Twitter</span>
      </a>
    </li>
    <li>
      <a class="button google-red fit big" href="<%= genUrl( 'googleAuth', { redirect: redirect, iToken: iToken } ) %>">
        <i class="fa fa-google-plus"></i>
        <span>Google Plus</span>
      </a>
    </li>
  </ul>
</div>