<div class="canvas page">
  <h1><%= __('Create an account') %></h1>
  <form class="cform" method="post">
    <ul>
      <li>
        <label for="email"><%= __('Email') %></label>
        <input type="email" name="email" value="<%= email %>" />
<% if ( errors.email ) { %>
        <span class="error"><%= __( errors.email ) %></span>
<% } %>
      </li>
      <li>
        <label for="password"><%= __('Password') %></label>
        <input type="password" name="password" value="<%= password %>" />
<% if ( errors.password ) { %>
      <span class="error"><%= __( errors.password ) %></span>
<% } %>
      </li>
     	<li>
        <label for="repeat"><%= __('Repeat Password') %></label> 
     	  <input type="password" name="repeat" value="<%= repeat %>" />
<% if ( errors.repeat ) { %>
        <span class="error"><%= __( errors.repeat ) %></span>
<% } %>
      </li>
      <li>
        <button type="submit"><%= __('Sign Up') %></button>
      </li>
    </ul>
  </form>

  <ul class="services cform">
    <li>
      <a class="button facebook-blue fit big" href="<%= genUrl( 'facebookSignup', { iToken: iToken } ) %>">
        <i class="fa fa-facebook"></i>
        <span>Facebook</span>
      </a>
<% if ( errors.facebookUid ) { %>
      <span class="error"><%= __( errors.facebookUid ) %></span>
<% } %>
    </li>
    <li>
      <a class="button twitter-blue fit big" href="<%= genUrl( 'twitterSignup', { iToken: iToken } ) %>">
        <i class="fa fa-twitter"></i>
        <span>Twitter</span>
      </a>
<% if ( errors.twitterUid ) { %>
      <span class="error"><%= __( errors.twitterUid ) %></span>
<% } %>
    </li>
    <li>
      <a class="button google-red fit big" href="<%= genUrl( 'googleSignUp', { iToken: iToken } ) %>">
        <i class="fa fa-google-plus"></i>
        <span>Google Plus</span>
      </a>
<% if ( errors.googleUid ) { %>
      <span class="error"><%= __( errors.googleUid ) %></span>
<% } %>
    </li>
  </ul>
  <footer>
    <ul>
      <li><a class="url" href="<%= genUrl( 'signin' ) %>"><%= __('I already have an account') %></a></li>
      <li><%- __( 'By creating an account you agree to the %terms%.', { '%terms%' : '<a class="url" href="' + genUrl( 'termsShow' ) + '">' + __('Terms of Use') + '</a>' }) %></li>
    </ul>
  </footer>
</div>