<div class="canvas page signin">
  <h1><%= __('Connection') %></h1>
<% if ( typeof message !== 'undefined' || typeof errors.email !== 'undefined' || typeof errors.password !== 'undefined' ) { %>
      <div class="cform">
<% if ( typeof message !== 'undefined' ) { %>
        <span class="error"><%= __( message ) %></span>
<% } %>
<% if ( typeof errors.email !== 'undefined' ) { %>
        <span class="error"><%= __( errors.email ) %></span>
<% } %>
<% if ( typeof errors.password !== 'undefined' ) { %>
        <span class="error"><%= __( errors.password ) %></span>
<% } %>
      </div>
<% } %>
  <form class="cform" method="post" action="<%= genUrl( 'signin', optionals ) %>">
    <ul>
      <li>
        <label for="email"><%= __('Email') %></label>
        <input type="email" name="email" value="<%= email %>" />
      </li>
      <li>
        <label for="password"><%= __('Password') %></label>
      	<input type="password" name="password" value="<%= password %>" />
      </li>
      <li>
        <button class="blue" name="signin" type="submit"><%= __('Sign in') %></button>
      </li>
    </ul>
  </form>
  
  <ul class="services">
    <li>
      <a id="facebook-signin" class="button facebook-blue fit" href="<%= genUrl( 'facebookSignin', optionals ) %>">
        <i class="fa fa-facebook"></i>
        <span>Facebook</span>
      </a>
    </li>
    <li>
      <a id="twitter-signin" class="button twitter-blue fit" href="<%= genUrl( 'twitterSignin', optionals ) %>">
        <i class="fa fa-twitter"></i>
        <span>Twitter</span>
      </a>
    </li>
    <li>
      <a id="google-signin" class="button google-red fit" href="<%= genUrl( 'googleSignin', optionals ) %>">
        <i class="fa fa-google-plus"></i>
        <span>Google Plus</span>
      </a>
    </li>
  </ul>

  <footer>
    <p>
      <%= __( 'Don\'t have an account yet?' ) %> <a id="signup" class="url" href="<%= genUrl( 'signup', optionals ) %>"><%= __('Create one!') %></a>
    </p>
    <p>
      <a id="lost-password" href="<%= genUrl( 'lostPassword' ) %>" class="url"><%= __( 'I lost my password' ) %></a>
    </p>
  </footer>

</div>