<section class="detail-item hours no-js js_static_hours">
  <h3><i class="fa fa-calendar-o"></i></h3>
  <ul class="detail-item-content months js_months">
<%

  var dates = event.dates.map( d => {
  
    if ( typeof d.date !== 'string' ) {

      d.date = JSON.stringify( d.date );
      
    }

    return d;

  } );

%><% dates.forEach( ( d, i ) => { %>
<% if ( i == 0 || dates[ i - 1 ].date.substr( 1, 7 ) !== d.date.substr( 1, 7 ) ) { %>
<% if ( i !== 0 ) { %>
      </ul>
    </li>
<% } %>
    <li class="month" data-date="<%= d.date %>">
      <header class="month-title">
        <i class="prev fa fa-chevron-left js_left"></i>
        <h4><%= _txt.capitalize( _t( d.date, 'MMMM YYYY', event.timezone ) ) %></h4>
        <i class="next fa fa-chevron-right js_right"></i>
      </header>
      <ul class="month-list">
<% } else if ( i !== 0 && _t( d.date, 'W', event.timezone ) !== _t( dates[ i - 1 ].date, 'W', event.timezone ) ) { %>
        <li class="week-separator"></li>
<% } %>
        <li class="month-item">
          <span class="day"><%= _txt.capitalize( _t( d.date, 'dddd DD', event.timezone ) ) %></span>
<% d.timings.forEach( t => { %>
          <span class="hour"><%= t.startLabel %> - <%= t.endLabel %></span>
<% }) %>
        </li>
<% } ) %>
      </ul>
    </li>
  </ul>
</section>