<p class="legend"><%= __('Import in a personal calendar') %></p>

<div class="btn-adds">
<% if ( event.imports.length ) { %>
<% event.imports.forEach( function( i ) { %> 
<a class="btn btn-default<% if ( event.multipleTimings ) { %> js_modal <% } %>" href="<%= i.uri %>" <% if ( !event.multipleTimings ) { %>target="_blank"<% } %>><%= i.label %></a>
<% }) %>
<% } else { %>
<p class="text-center"><%= __('There are no timings available for this event') %></p>
<% } %>

</div>

<p class="legend"><%= __('Import in OpenAgenda') %></p>
<% if ( logged ) { %>

<div class="btn-adds">
<% if ( agendas.length ) { %>

<% agendas.forEach( function( agenda ) { %>
<% if ( agenda.sharing ) { %>
  <a class="btn btn-default checked uncheckable" href="<%= genUrl( 'agendaEventRemove', { slug: agenda.slug, eventUid: event.uid } ) %>"><%= agenda.title %></a>
<% } else { %>
  <a class="btn btn-default" href="<%= genUrl( 'agendaEventAdd', { slug: agenda.slug, eventUid: event.uid } ) %>"><%= agenda.title %></a>
<% } %>
<% }); %>

<% } else { %>

  <div class="prompt text-center">
    <p><%= __('You do not own any OpenAgenda yet') %></p>
    <a class="btn green" href="<%= genUrl('agendaNew') %>"><%= __( 'Create an agenda' ) %></a>
  </div>
  
<% } %>

</div>

<% } else { %>

<div class="prompt text-center">
  <p><%= __( 'You need to sign in to your account to add this event to your agendas' ) %></p>
  <a class="btn green" href="<%= genUrl( 'signin' ) %>"><%= __( 'Sign In' ) %></a>
</div>

<% } %>