<div id="admin-bar" class="js_admin_controls">
  <ul class="admin-list"><!--
<% if ( !loner ) { %>
    --><li class="admin-item w25 js_admin_item js_role_agenda_admin js_role_agenda_moderator">
      <a class="admin-link" data-href="<%= genUrl( 'agendaAdminShow', { slug: slug } ) %>" rel="nofollow">
        <i class="fa fa-list"></i>
        <span><%= __( 'Manage agenda' ) %></span>
      </a>
    </li><!--
<% } %>
    --><li class="admin-item tooltip js_toggle w25" data-toggle="js_dropdown_menu">
      <span class="admin-selected"><%= __( states[ event.currentState ].label ) %></span>
      <ul class="list-group js_dropdown_menu">
<% for( var i in states ) { %>
<% if ( !states[ i ].hideAction ) { %>
<% if ( loner ) { %>
<% if ( !states[ i ].agendaOnly ) { %>
        <li class="list-group-item js_admin_item <%= states[ i ].classNames %>">
          <a data-href="<%= states[ i ].type !== null ? genUrl( 'eventChangeState', { eventSlug: event.slug, type: states[ i ].type } ) : '#' %>" class="item bullet js_change_state_to_<%- states[ i ].type %><% if ( i !== event.currentState ) { %> active<% } %>" rel="nofollow"><%= __( states[ i ].label ) %></a>
        </li>
<% } %>
<% } else { %>
        <li class="list-group-item js_admin_item <%= states[ i ].classNames %>">
          <a data-href="<%= states[ i ].type !== null ? genUrl( 'agendaEventChangeState', { slug: slug, eventSlug: event.slug, type: states[ i ].type } ) : '#' %>" class="item bullet js_change_state_to_<%- states[ i ].type %><% if ( i !== event.currentState ) { %> active<% } %>" rel="nofollow"><%= __( states[ i ].label ) %></a>
        </li>
<% } %>
<% } %>
<% } %>
      </ul>
      <span class="tooltip-text"><%= __( 'Event state' ) %></span>
    </li><!--
    --><li class="admin-item js_admin_item js_role_event_editor w25">
      <a class="admin-link" href="<%= genUrl( loner ? 'eventEdit' : 'agendaEventEdit', [ { eventSlug: event.slug }, loner ? {} : { slug: slug } ] ) %>" rel="nofollow"><%= __('Edit') %></a>
    </li><!--
    --><li class="admin-item js_admin_item js_role_event_editor js_role_agenda_admin js_toggle w25" data-toggle="js_dropdown_menu">
      <span class="admin-selected"><%= __( 'Actions' ) %></span>
      <ul class="list-group js_dropdown_menu">
<% if ( !loner ) { %>
        <li class="list-group-item js_admin_item js_role_agenda_admin js_role_agenda_moderator">
<% if ( event.featured ) { %>
          <a class="item starify active" href="<%= genUrl( 'agendaEventChangeFeatured', { slug: slug, eventSlug: event.slug, type: 'notfeatured' } ) %>" rel="nofollow"><span><%= __( 'Featured' ) %></span><span class="hovered"><%= __('Remove from featured') %></span><i class="fa fa-star-o"></i><i class="fa fa-star"></i></a>
<% } else { %>
          <a class="item starify" href="<%= genUrl( 'agendaEventChangeFeatured', { slug: slug, eventSlug: event.slug, type: 'featured' } ) %>" rel="nofollow"><%= __('Add to featured') %><i class="fa fa-star-o"></i><i class="fa fa-star"></i></a>
<% } %>      
        </li>
<% } %>
        <li class="list-group-item js_admin_item js_role_event_editor">
          <a class="item active" href="<%= !loner ? genUrl( 'agendaEventDuplicate', { slug: slug, eventSlug: event.slug } ) : genUrl( 'eventDuplicate', { eventSlug: event.slug } ) %>" rel="nofollow"><%= __( 'Duplicate' ) %></a>
        </li>
        <li class="list-group-item js_admin_item js_role_event_editor w25">
          <a class="item active js_message_confirm" data-confirm="<%= __('Are you sure you want to delete this event?') %>" data-ok="<%= __( 'Confirm' ) %>" data-cancel="<%= __( 'Cancel' ) %>" href="<%= genUrl('eventRemove', { eventSlug: event.slug }) %>" rel="nofollow"><%= __( 'Delete' ) %></a>
        </li>
      </ul>
    </li>
  </ul>
</div>