<% if ( typeof customHead !== 'undefined' ) { %><%- customHead %><% } %>
<dl <% if ( typeof customClass !== 'undefined' ) { %>class="<%= customClass %>"<% } %>>
<% for ( var i in custom ) { %>
<% if ( custom[ i ].value ) { %>
  <dt><%= labels[ custom[ i ].name ] %></dt>
  <dd>
<% if ( custom[ i ].fieldType == 'url' ) { %>
    <a target="_blank" href="<%= custom[ i ].value %>"><%= custom[ i ].value %></a>
<% } else if ( custom[ i ].fieldType == 'email' ) { %>
    <a href="mailto:<%= custom[ i ].value %>"><%= custom[ i ].value %></a>
<% } else if ( [ 'radio', 'checkbox' ].indexOf( custom[ i ].fieldType ) !== -1 ) { %>
    <span><%= custom[ i ].label %></span>
<% } else { %>
    <span><%= custom[ i ].value %></span>
<% } %>
  </dd>
<% } %>
<% } %>
</dl>