<% if ( typeof agenda !== 'undefined' && agenda ) { %>
<% include ../newsletter/sections/top %>
  <center>
    <img src="<%= _i( 'rwtb' + agenda.image ) %>" style="<%= css.imageContent %>" class="imageContent"/>
  </center>
<% include ../newsletter/sections/bottom %>
<% include ../newsletter/sections/top %>
  <center>
    <h2 target="_blank" style="<%= css.h2 %> text-align: center;"><%= agenda.title %></h2>
  </center>
<% include ../newsletter/sections/bottom %>
<% } %>
<% include ../newsletter/sections/top %>
  <h1 target="_blank" style="<%= css.h1 %>"><a href="<%= genUrl( event.uri, event.uriParams, { protocol: 'https://' } ) %>" style="<%= css.h1a %>"><%= event.title %></a></h1>
  <h3 target="_blank" style="<%= css.h3 %>"><a href="<%= genUrl( event.uri, event.uriParams, { protocol: 'https://' } ) %>" style="<%= css.h3a %>"><%= event.description %></a></h3>
<% include ../newsletter/sections/bottom %>
<% if ( event.image ) { %>
<% include ../newsletter/sections/sectionTop %> <!-- EVENT HEAD SECTION -->
  <img src="<%= event.image %>" style=" <%= css.headerImage %>" id="headerImage"/>
<% include ../newsletter/sections/sectionBottom %>
<% } %>
<% include ../newsletter/sections/top %>
  <h4 style="<%= css.h4 %>">
    <a href="<%= genUrl( event.uri, event.uriParams, { protocol: 'https://' } ) %>" target="_blank" style="<%= css.h4a %>">
<% if ( event.pricingInfo ) { %>
    <%= event.pricingInfo %> - 
<% } %>
    <%= event.dateRange %>
    </a>
<% if ( event.ticketLink ) { %>
    - <a href="<%= event.ticketLink %>" target="_blank"><%= __('book') %></a>
<% } %>
  </h4>

<% event.freeText.split( '\n' ).forEach(function( freeTextLine ) { %>
  <%- freeTextLine %>
<% }); %>
<% include ../newsletter/sections/bottom %>

<% include ../newsletter/sections/sectionTop %><!-- MAP SECTION -->
<a href="<%= genUrl( event.uri, event.uriParams, { protocol: 'https://' } ) %>">
  <img src="http://api.tiles.mapbox.com/v4/foursquare.meku766r/pin-l-circle+41acdd(<%= map.lng %>,<%= map.lat %>)/<%= map.lng %>,<%= map.lat %>,<%= map.zoom %>/600x140.png?access_token=<%= map.accessToken %>" style="<%= css.mapImage %>" id="mapImage"/>
</a>
<% include ../newsletter/sections/sectionBottom %>

<% include ../newsletter/sections/top %><!-- TIMING DETAILS SECTION -->

<br/>
<h2 style="<%= css.h2 %>">
  <a href="<%= genUrl( event.uri, event.uriParams, { protocol: 'https://' } ) %>" target="_blank" style="<%= css.h2a %>"><%= event.placeName %></a>
</h2>
<h3 style="<%= css.h3 %>">
  <a href="<%= genUrl( event.uri, event.uriParams, { protocol: 'https://' } ) %>" target="_blank" style="<%= css.h3a %>"><%= event.address %></a>
</h3>

<% if ( event.timings.length > 1 ) { %>
<br/>
<h3 target="_blank" style="<%= css.h3 %>"><%= __('Date details') %></h3>
<% event.dates.forEach( function( date ) { %>
<p><%= date.label %> -
<%= date.timings.map( function( t ) {
    return __( '%from% to %to%', { '%from%' : t.startLabel, '%to%' : t.endLabel } );
}).join( ',' ) %>
</p>
<% }) %>

<% } %>

<br/>
<p class="smallprint" style="<%= css.smallprint %>"><%= __( 'I do not wish to receive events by email any longer' ) %> - <a style="<%= css.smallprinta %>" href="<%= genUrl( 'emailUnsubscribe', {}, { protocol: 'https://' } ) %>" target="_blank"><%= __( 'unsubscribe' ) %></a></p>
<% include ../newsletter/sections/bottom %>