<% if ( !loner ) { %>
<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 agenda-container">
        <a href="<%= genUrl('agendaShow', { slug: slug }) %>">
<% if ( image ) { %>
          <img class="avatar" src="<%= _i( image ) %>" alt="<%= title %>">
<% } %>
          <strong><%= title %></strong>
          <span>(<%= __('see all the events') %>)</span>
        </a>
      </div>
    </div>
  </div>
</header>
<% } %>
<div id="content" class="js_page_body">
  <div class="container">
    <div class="row">
      <aside class="col-sm-4 col-aside sidebar">

        <div class="meta-container">
          <p>
            <a class="btn btn-success event-action js_import_action" href="<%= event.importUri %>">
              <i class="fa fa-plus-circle"></i><%= __('Add to my agenda') %>
            </a>
          </p>
          <p class="share">
            <%= __('Share') %>&nbsp;:
            <a href="<%= event.facebookShare %>" target="_blank" class="fb"><i class="fa fa-facebook"></i></a>
            <a href="<%= event.twitterShare %>" target="_blank" class="tw"><i class="fa fa-twitter"></i></a>
            <a href="<%= event.googleShare %>" target="_blank" class="gp"><i class="fa fa-google-plus"></i></a>
            <a href="<%= event.linkedInShare %>" target="_blank" class="li"><i class="fa fa-linkedin"></i></a>
          </p>
<% if ( !event.isUpcoming ) { %>
          <p>
            <span class="event-action disabled">
              <i class="fa fa-history"></i> <%= __('Past event') %>
            </span>
          </p>
<% } %>
        </div>

        
<% if ( event.ticketLink || event.pricingInfo ) { %>
        <section class="event-side">
          <h3><i class="fa fa-ticket"></i></h3>
<% if ( event.pricingInfo ) { %>
          <p><%= event.pricingInfo %></p>
<% } %>
<% if ( event.ticketLink ) { %>
          <p><a href="<%= event.ticketLink %>"><%= __('Ticketing link') %></a></p>
<% } %>
        </section>
<% } %>
        <section class="event-side">
          <h3><i class="fa fa-clock-o"></i></h3>
          <p><%= event.dateRange %></p>
        </section>

        <section class="event-side">
          <h3><i class="fa fa-map-marker"></i></h3>
          <p><%= event.placeName %></p>
          <p><%= event.address %></p>
          <div class="event-map js_map" data-coord="<%= event.latitude %>|<%= event.longitude %>"></div>
        </section>

          
        
<% if ( event.agendaReferences.length > ( loner ? 0 : 1 ) ) { %>
        <div class="sharers">
          <ul><!--
<% event.agendaReferences.forEach( function( ref ) { %>
<% if ( loner || ( ref.slug !== slug ) ) { %>
            --><li>
              <a href="<%= genUrl( 'agendaShow', { slug: ref.slug } ) %>"><!--
<% if ( ref.thumbnail ) { %>
                --><img class="avatar" alt="<%= ref.title %>" src="<%= _i( ref.thumbnail ) %>"/><!--
<% } %>
                --><%= ref.title %>
              </a>
            </li><!--
<% } %>
<% }); %>
          --></ul>
        </div>
<% } %>
      
        <% include ../bsLayout/footer.part.ejs %>

      </aside>

      <section class="col-sm-7 col-sm-offset-1">
        
        <div class="event-content">
          <h1><%= event.title %></h1>
          <p class="short-description"><%= event.description %></p>
<% if ( event.languages ) { %>
          <div class="langs">
            <p><%= __('Description available in') %>&nbsp;</p>
            <ul>
<% event.languages.selection.forEach( function( lang ) { %>
<% if ( lang.label==event.languages.current ) { %>
              <li class="current"><a><%= lang.label %></a></li>
<% } else { %>
              <li><a hreflang="<%= lang %>" href="<%= lang.link %>"><%= lang.label %></a></li>
<% } %>
<% }); %>
            </ul>
          </div>
<% } %>
<% if ( event.image ) { %>
          <img  class="img-responsive" src="<%= event.image %>">
<% } %>
          <div class="description">
            <%- event.freeText %>
          </div>

<% if ( event.timings.length > 1 ) { %>
          <section class="dates">
            <h3 class="title"><%= __('Date details') %></h3>
            <ul>
<% event.timings.forEach( function( timing ) { %>
              <li class="date"><%= timing.label %></li>
<% }) %>
            </ul>
          </section>
<% } %>

        </div>
<% if ( event.owner ) { %>  
        <p class="signature"><%= __('Published by %owner%', { '%owner%' : event.owner.name } ) %></p>
<% } %>
      </section>
    </div>
  </div>

  <div id="admin-bar" class="js_admin_controls">
    <ul class="admin-list"><!--
<% if ( !loner ) { %>
      --><li class="admin-item w25 js_role_agenda_admin js_role_event_editor">
        <a class="admin-link" href="<%= genUrl( 'agendaAdminShow', { slug: slug } ) %>">
          <i class="fa fa-list"></i>
          <span><%= __( 'back to list' ) %></span>
        </a>
      </li><!--
<% } %>
      --><li class="admin-item tooltip js_toggle w25" data-toggle="js_dropdown_menu">
        <span class="admin-selected"><%= __( states[ event.currentState ].label ) %></span>
        <ul class="list-group js_dropdown_menu">
<% for( var i in states ) { %>
<% if ( !states[ i ].hideAction ) { %>
<% if ( loner ) { %>
<% if ( !states[ i ].agendaOnly ) { %>
          <li class="list-group-item js_admin_item <%= states[ i ].classNames %>">
            <a href="<%= states[ i ].type !== null ? genUrl( 'eventChangeState', { eventSlug: event.slug, type: states[ i ].type } ) : '#' %>" class="item<% if ( i !== event.currentState ) { %> active<% } %>"><%= __( states[ i ].label ) %></a>
          </li>
<% } %>
<% } else { %>
          <li class="list-group-item js_admin_item <%= states[ i ].classNames %>">
            <a href="<%= states[ i ].type !== null ? genUrl( 'agendaEventChangeState', { slug: slug, eventSlug: event.slug, type: states[ i ].type } ) : '#' %>" class="item<% if ( i !== event.currentState ) { %> active<% } %>"><%= __( states[ i ].label ) %></a>
          </li>
<% } %>
<% } %>
<% } %>
        </ul>
        <span class="tooltip-text"><%= __('Event state') %></span>
      </li><!--
      --><li class="admin-item js_admin_item js_role_event_editor w25">
        <a class="admin-link" href="<%= genUrl( loner ? 'eventEdit' : 'agendaEventEdit', [ { eventSlug: event.slug }, loner ? {} : { slug: slug } ] ) %>"><%= __('Edit') %></a>
      </li><!--
      --><li class="admin-item js_admin_item js_role_event_editor w25">
        <a class="admin-link js_message_confirm" data-confirm="<%= __('Are you sure you want to delete this event?') %>" data-ok="<%= __( 'Confirm' ) %>" data-cancel="<%= __( 'Cancel' ) %>" href="<%= genUrl('eventRemove', { eventSlug: event.slug }) %>" href=""><%= __('Delete') %></a>
      </li>
    </ul>
  </div>

</div>