<% include ../agenda/theme.part.ejs %>

<div class="canvas right page mw920">

<% if ( !loner ) { %>
  <header>
    <% include ../agenda/head.part.ejs %>
  </header>
<% } %>
  
  <div class="sidebar">

<% if ( event.image ) { %>    
    <aside>
      <img src="<%= _i( event.image ) %>"/>
    </aside>
<% } %>

    <aside>
      
      <ul>
        <li><a class="add button js_message_link" href="<%= genUrl( 'eventShare', { eventSlug: event.slug }) %>"><%= __( 'add to agenda' ) %></a></li>
        <li class="social-links">
          <%- _sl.fb( { title: event.title, url: genUrl( loner ? 'eventShow' : 'agendaEventShow', [ { eventSlug: event.slug }, loner ? {} : { slug: slug } ], { abs: true } ) } ) %>
          <%- _sl.tw( { title: event.title, url:  genUrl( loner ? 'eventShow' : 'agendaEventShow', [ { eventSlug: event.slug }, loner ? {} : { slug: slug } ], { abs: true } ) } ) %>
          <%- _sl.gp( { title: event.title, url:  genUrl( loner ? 'eventShow' : 'agendaEventShow', [ { eventSlug: event.slug }, loner ? {} : { slug: slug } ], { abs: true } ) } ) %>
        </li>
        <li><a class="url js_message_link" href="<%= genUrl('eventEmbedEdit', { uid: event.uid }) %>"><%= __('embed') %></a></li>
        <li><a class="url" href="<%= genUrl('eventCalendarShare', { eventSlug: event.slug } ) %>"><%= __('add to my calendar') %></a></li>
      </ul>

    </aside>

    <aside>
      <ul>
        <li><a class="hurl" href="<%= genUrl( loner ? 'eventEdit' : 'agendaEventEdit', [ { eventSlug: event.slug }, loner ? {} : { slug: slug } ] ) %>"><%= __('edit') %></a></li>
        <li><a class="hurl" href="<%= genUrl('eventRemove', { eventSlug: event.slug }) %>"><%= __('remove') %></a></li>
      </ul>
    </aside>

  </div>
  <main>
<% if ( event.languages ) { %>
    <ul class="event-languages">
<% event.languages.selection.forEach( function( lang ) { %>
<% if ( lang==event.languages.current ) { %>
      <li class="current"><a><%= lang %></a></li>
<% } else { %>
      <li><a hreflang="<%= lang %>" href="<%= genUrl( loner ? 'eventShow' : 'agendaEventShow', [ { eventSlug: event.slug, elang: lang }, loner ? {} : { slug: slug } ] ) %>"><%= lang %></a></li>
<% } %>
<% }); %>
    </ul>
<% } %>
    <div class="event-head">
      <h2><%= event.title %></h2>
      <p class="dsc"><%= event.description %></p>
      <p class="st"><%= __( event.dateRange[0], _t(event.dateRange[1]) ) %></p>
    </div>
    
    
    <p><%- _txt.nl2br( _txt.setLinks( event.freeText, { className: 'url', target: '_blank' } ) ) %></p>

    <div class="event-place">
      <p class="placename"><%= event.placeName %></p>
      <a class="address hurl" target="_blank" href="http://maps.google.com/?q=<%= event.latitude %>,<%= event.longitude %>"><%= event.address %></a>
      <div class="js_map map" data-coord="<%= event.latitude %>|<%= event.longitude %>"></div>
    </div>

    <ul><% var month = false; %>
<% event.timings.forEach( function( timing ) { %>
<% if ( month !== _t( timing.start, 'MMMM YYYY' ) ) { month = _t( timing.start, 'MMMM YYYY' ); %>
      <li class="month"><%= _t( timing.start, 'MMMM YYYY' ) %></li>
<% } %>
      <li class="date"><%= _t( typeof timing.start == 'string' ? timing.start : timing.start.setHours(timing.start.getHours()-2), 'dddd Do - HH:mm' ) %></li>
<% }) %>
    </ul>

    <ul class="event-bottom">
<% if ( event.owner ) { %>
      <li><%- __('published by %name%', { '%name%' : '<a class="url" href="' + genUrl('agendaShowByUid', { uid: event.owner.uid }) + '">' + event.owner.name + '</a>' }) %></li>
<% } %>
    </ul>

  </main>
  <footer>
  </footer>
</div>