<% include ../agenda/theme.part.ejs %>

<div class="canvas right page mw920">

<% if ( !loner ) { %>
  <header>
    <% include ../agenda/head.part.ejs %>
  </header>
<% } %>
  
  <div class="sidebar">

<% if ( event.image ) { %>    
    <aside>
      <img src="<%= _i( event.image ) %>"/>
    </aside>
<% } %>

    <aside>
      
      <ul>
        <li><a class="add button js_message_link" href="<%= genUrl( 'eventShare', { eventSlug: event.slug }) %>"><%= __( 'add to agenda' ) %></a></li>
        <li class="social-links">
          <%- _sl.fb( { title: event.title, url: genUrl( loner ? 'eventShow' : 'agendaEventShow', [ { eventSlug: event.slug }, loner ? {} : { slug: slug } ], { abs: true } ) } ) %>
          <%- _sl.tw( { title: event.title, url:  genUrl( loner ? 'eventShow' : 'agendaEventShow', [ { eventSlug: event.slug }, loner ? {} : { slug: slug } ], { abs: true } ) } ) %>
          <%- _sl.gp( { title: event.title, url:  genUrl( loner ? 'eventShow' : 'agendaEventShow', [ { eventSlug: event.slug }, loner ? {} : { slug: slug } ], { abs: true } ) } ) %>
        </li>
        <li><a class="url js_message_link" href="<%= genUrl('eventEmbedEdit', { uid: event.uid }) %>"><%= __('embed') %></a></li>
        <li><a class="url" href="<%= genUrl('eventCalendarShare', { eventSlug: event.slug } ) %>"><%= __('add to my calendar') %></a></li>
      </ul>

    </aside>

<% if ( event.agendaReferences.length > ( loner ? 0 : 1 ) ) { %>
    <aside class="agenda-references">
      <h3><%= __( loner ? 'Referring agendas' : 'Other referring agendas' ) %></h3>
      <ul>
<% event.agendaReferences.forEach( function( ref ) { %>
<% if ( loner || ( ref.slug !== slug ) ) { %>
        <li>
          <a href="<%= genUrl( 'agendaShow', { slug: ref.slug } ) %>"><!--
<% if ( ref.thumbnail ) { %>
            --><img alt="<%= ref.title %>" src="<%= _i( ref.thumbnail ) %>"/><!--
<% } %>
            --><span><%= ref.title %></span>
          </a>
        </li>
<% } %>
<% }); %>
      </ul>
    </aside>
<% } %>

    <aside class="admin-controls js_admin_controls">
      <ul>
        <li><a class="small button" href="<%= genUrl( loner ? 'eventEdit' : 'agendaEventEdit', [ { eventSlug: event.slug }, loner ? {} : { slug: slug } ] ) %>"><%= __('edit') %></a></li>
        <li><a class="small button js_message_confirm" data-confirm="<%= __('Are you sure you want to delete this event?') %>" data-ok="<%= __( 'Confirm' ) %>" data-cancel="<%= __( 'Cancel' ) %>" href="<%= genUrl('eventRemove', { eventSlug: event.slug }) %>"><%= __('remove') %></a></li>
      </ul>
    </aside>

  </div>
  <main>

    <%= include ./text.part.ejs %>

    <div class="event-place">
      <p class="placename"><%= event.placeName %></p>
      <a class="address hurl" target="_blank" href="http://maps.google.com/?q=<%= event.latitude %>,<%= event.longitude %>"><%= event.address %></a>
      <div class="js_map map" data-coord="<%= event.latitude %>|<%= event.longitude %>"></div>
    </div>

    <% include ./timings.part.ejs %>

    <ul class="event-bottom">
<% if ( event.owner ) { %>
      <li><%- __('published by %name%', { '%name%' : event.owner.name }) %></li>
      <li> - </li>
      <li>
        <a class="url js_message_link" href="<%= genUrl( 'conversationDiscussion', { 
          uuid: event.owner.uid, 
          title: event.title, 
          redirect: _r( loner ? { module: 'event', action: 'show', slug: event.slug } : { module: 'event', action: 'showInReview', slug: slug, event_slug: event.slug })
        }) %>"><%= __( 'contact' ) %></a>
      </li>
<% } %>
      <li><a class="url js_message_link" href="<%= genUrl( 'conversationEventClaim', { eventSlug: event.slug }) %>"><%= __( 'claim' ) %></a></li>
      <li><a class="url js_message_link" href="<%= genUrl( 'conversationEventSignal', { eventSlug: event.slug }) %>"><%= __( 'signal' ) %></a></li>
    </ul>

  </main>
  <footer></footer>
  <% include show.jsonld.ejs %>
</div>