<% if ( !loner ) { %>
<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 agenda-container">
        <a href="<%= event.backLink %>">
<% if ( image ) { %>
          <img class="avatar" src="<%= _i( image ) %>" alt="<%= title %>">
<% } %>
          <strong><%= title %></strong>
          <span>(<%= __('see all the events') %>)</span>
        </a>
      </div>
    </div>
  </div>
</header>
<% } %>
<div id="content" class="js_page_body">
  <div class="container">
    <div class="row">
      <aside class="col-sm-4 col-aside sidebar">

        <div class="meta-container">
          <p>
            <a rel="nofollow" class="btn btn-success event-action js_import_action" href="<%= event.importUri %>">
              <i class="fa fa-plus-circle"></i><%= __('Add to my agenda') %>
            </a>
          </p>
          <p class="share">
            <%= __('Share') %>&nbsp;:
            <a href="<%= event.facebookShare %>" target="_blank" class="fb" rel="nofollow"><i class="fa fa-facebook"></i></a>
            <a href="<%= event.twitterShare %>" target="_blank" class="tw" rel="nofollow"><i class="fa fa-twitter"></i></a>
            <a href="<%= event.googleShare %>" target="_blank" class="gp" rel="nofollow"><i class="fa fa-google-plus"></i></a>
            <a href="<%= event.linkedInShare %>" target="_blank" class="li" rel="nofollow"><i class="fa fa-linkedin"></i></a>
            <a href="<%= event.importUri + '?action=email' %>" rel="nofollow"><i class="fa fa-envelope-o"></i></a>
            
          </p>
<% if ( !event.isUpcoming ) { %>
          <p>
            <span class="event-action disabled">
              <i class="fa fa-history"></i> <%= __('Past event') %>
            </span>
          </p>
<% } %>
        </div>

        
<% if ( event.ticketLink || event.pricingInfo ) { %>
        <section class="event-side">
          <h3><i class="fa fa-ticket"></i></h3>
<% if ( event.pricingInfo ) { %>
          <p><%= event.pricingInfo %></p>
<% } %>
<% if ( event.ticketLink ) { %>
          <p><a href="<%= event.ticketLink %>"><%= __('Ticketing link') %></a></p>
<% } %>
        </section>
<% } %>
        <section class="event-side">
          <h3><i class="fa fa-clock-o"></i></h3>
          <p><%= event.dateRange %></p>
        </section>

        <section class="event-side">
          <h3><i class="fa fa-map-marker"></i></h3>
          <p><a href="<%= event.locationLink %>"><%= event.placeName %></a></p>
          <p><%= event.address %></p>
          <div class="event-map js_map" data-coord="<%= event.latitude %>|<%= event.longitude %>"></div>
        </section>

          
        
<% if ( event.agendaReferences.length > ( loner ? 0 : 1 ) ) { %>
        <div class="sharers">
          <ul><!--
<% event.agendaReferences.forEach( function( ref ) { %>
<% if ( loner || ( ref.slug !== slug ) ) { %>
            --><li>
              <a href="<%= genUrl( 'agendaShow', { slug: ref.slug } ) %>"><!--
<% if ( ref.thumbnail ) { %>
                --><img class="avatar" alt="<%= ref.title %>" src="<%= _i( ref.thumbnail ) %>"/><!--
<% } %>
                --><%= ref.title %>
              </a>
            </li><!--
<% } %>
<% }); %>
          --></ul>
        </div>
<% } %>
      
        <% include ../bsLayout/footer.part.ejs %>

      </aside>

      <section class="col-sm-7 col-sm-offset-1">
        
        <div class="event-content">
          <h1><%= event.title %></h1>
          <p class="short-description"><%= event.description %></p>
<% if ( event.languages ) { %>
          <div class="langs">
            <p><%= __('Description available in') %>&nbsp;</p>
            <ul>
<% event.languages.selection.forEach( function( l ) { %>
<% if ( l.label==event.languages.current ) { %>
              <li class="current"><a><%= l.label %></a></li>
<% } else { %>
              <li><a hreflang="<%= l %>" href="<%= l.link %>"><%= l.label %></a></li>
<% } %>
<% }); %>
            </ul>
          </div>
<% } %>
<% if ( event.image ) { %>
          <img  class="img-responsive" src="<%= event.image %>">
<% } %>
          <div class="description">
            <%- event.freeText %>
          </div>

          <div class="custom js_custom">
<% if ( event.custom ) { %>
<% var custom = event.custom, labels = event.customLabels; %>
            <%= include ./custom.part.ejs %>
<% } %>
          </div>

<% if ( event.timings.length > 1 ) { %>
          <section class="dates">
            <h3 class="title"><%= __('Date details') %></h3>
            <ul>
<% event.dates.forEach( function( date ) { %>
              <li class="date">
                <%= date.label %>:
<%= date.timings.map( function( t ) {
          return __( 'from %from% to %to%', { '%from%' : t.startLabel, '%to%' : t.endLabel } );
}).join( ',' ) %>
              </li>
<% }) %>
            </ul>
          </section>
<% } %>

        </div>
<% if ( event.owner ) { %>  
        <p class="signature"><%= __('Published by %owner%', { '%owner%' : event.owner.name } ) %></p>
<% } %>
      </section>
    </div>
  </div>

  <% include ./adminBar.part.ejs %>

</div>