{{registerFilter
  type='map'
  id=name
  aggregation=null
  tileAttribution=tileAttribution
  tileUrl=tileUrl
  searchMessage=searchMessage
  searchWithMap=searchWithMap
}}

<div
  data-oa-filter
  data-oa-filter-id="{{name}}"
  data-oa-filter-type="map"
  data-oa-filter-aggregation="null"
  {{#if name}}
  data-oa-filter-name="{{name}}"
  {{/if}}
  {{#if tileAttribution}}
  data-oa-filter-tile-attribution="{{tileAttribution}}"
  {{/if}}
  {{#if tileUrl}}
  data-oa-filter-tile-url="{{tileUrl}}"
  {{/if}}
  {{#if searchMessage}}
  data-oa-filter-search-message="{{searchMessage}}"
  {{/if}}
  {{#if searchWithMap}}
  data-oa-filter-search-with-map="{{searchWithMap}}"
  {{/if}}
  class="map-container"
>
</div>
