<div class="header">
  <h2>EmailStrategie</h2>
</div>
<section>
  
  <p><%- __( 'The agenda is linked with the EmailStrategie list %list% on the account %account%', { 
    '%list%' : '<strong>' + listName + '</strong>', 
    '%account%': '<strong>' + accountName + '</strong>' 
  } ) %></p>
</section>

<section>
  <p>
    <label><%= __( 'State' ) %>:</label> 
<% if ( error ) { %>
    <span><strong class="red">NOK</strong></span> 
<% } else { %>
    <span>OK</span>
<% } %>
  </p>
  <p><%- __( 'Total events published in agenda: %count%', { '%count%' : '<strong>' + agendaCount + '</strong>' } ) %></p>
  <p><%- __( 'Total events in EmailStrategie list: %count%', { '%count%' : '<strong>' + emailStrategieCount + '</strong>' } ) %></p>
<% if ( error ) { %>
  <span class="error"><%= __( error ) %></span>
<% } %>
</section>

<section>

  <div class="cform">
    <ul class="line">
      <li>
        <a href="<%= genUrl( 'emailStrategieSync', { slug: agenda.slug }) %>" class="button blue"><%= __( 'Force Sync' ) %></a>
      </li>
      <li style="float:right;">
        <a href="<%= genUrl( 'emailStrategieUnlink', { slug: agenda.slug } ) %>" class="button red"><%= __( 'Unlink' ) %></a>
      </li>
    </ul>
  </div>

</section>