<%- include('../layout/_top.ejs') %>
<div class="agenda-search top-margined container">
    <div class="row">
        <div class="wsq col-sm-8 col-sm-offset-2">
            <div class="header">
                <h1>Search results for <span>"fdsqfds"</span></h1>
                <span>Found 329 agendas</span>
            </div>
            <div class="body media-list">
                <nav class="page-nav">
                    <button class="btn btn-default">load previous</button>
                </nav>
                <div>
                    <%- include('../components/_agenda-item.ejs', {official: true, upcoming: true}) %>
                    <%- include('../components/_agenda-item.ejs', {official: false}) %>
                    <%- include('../components/_agenda-item.ejs', {official: false}) %>
                    <%- include('../components/_agenda-item.ejs', {official: false}) %>
                    <%- include('../components/_agenda-item.ejs', {official: false}) %>
                    <%- include('../components/_agenda-item.ejs', {official: false}) %>
                    <%- include('../components/_agenda-item.ejs', {official: false}) %>
                    <%- include('../components/_agenda-item.ejs', {official: false}) %>
                    <%- include('../components/_agenda-item.ejs', {official: false}) %>
                </div>
                <nav class="page-nav">
                    <button class="btn btn-default">load more</button>
                </nav>
            </div>
        </div>
    </div>
</div>
<%- include('../layout/_bottom.ejs') %>
