<main class="front">
  <header>
    <div class="header-canvas">
      <div class="content">
        <div class="box w60">
          <h1 class="title"><%= __('Communicate efficiently on your events') %></h1>
          <p><%= __('Publish, organize and broadcast your events on all your channels and to your media partners') %></p>
          <a class="button"><%= __('Create an agenda') %></a>
        </div>
      </div>
    </div>
  </header>

  <section class="colored-light" id="solutions">
    <div class="offers-white-back"></div>
    <div id="offers" class="content">
      <h2><%= __('Our Agenda solutions') %></h2>
      <ul class="row solutions">
        <li class="col">
          <div class="offer-head">
            <a href="#basic" class="offer-canvas">
              <img src="<%= image( 'offer1.jpg', true ) %>" alt="basic offer"><div class="cover"></div>
              <div class="offer-middle" id="basicoffer">
                <div class="offer-title" id="basicofferlabel">
                  <div class="text"><h3><%= __('Basic') %></h3><p><%= __('free') %></p></div>
                </div>
              </div>
            </a>
            <span class="triangle"></span>
          </div>
          <div class="offer-details block">
            <div class="offer-desc">
              <h4><%= __('Communicate efficiently with an agenda reusable by all medias ') %></h4>
              <ul class="features">
                <li><i class="icon-ok-sign"></i><span><%= __('Unlimited number of events') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Multimedia and multilingual content') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Customizable agendas, organisable in categories and tags, compatible with all screen sizes ') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Displayable on your website ') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Synchronizable with your personal calendars (Outlook, Google Calendar, etc) ') %></span></li>
              </ul>
              <a class="button"><%= __('Create an agenda') %></a>
            </div>
          </div>
        </li><!--
        --><li class="col">
          <div class="offer-head">
            <a href="#editor" class="offer-canvas">
              <img src="<%= image('offer2.jpg', true) %>" alt="basic offer"><div class="cover"></div>
              <div class="offer-middle" id="editoroffer">
                <div class="offer-title" id="editofferlabel">
                  <div class="text"><h3><%= __('Editor') %></h3><p><%= __('60€/month') %></p></div>
                </div>
              </div>
            </a>
            <span class="triangle"></span>
          </div>
          <div class="offer-details block">
            <div class="offer-desc">
              <h4><%= __('Type once and publish on all your channels') %></h4>
              <ul class="features">
                <li><i class="icon-ok-sign passive"></i><span><%= __('Features of the Basic Agenda') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Complete integration in your website') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Automatic creation and sync of your Facebook events') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Automatic Newsletter') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Multiple Administrators') %></span></li>
              </ul>
              <a class="button"><%= __('Try it for free') %></a>
            </div>
          </div>
        </li><!--
        --><li class="col">
          <div class="offer-head">
            <a href="#community" class="offer-canvas">
              <img src="<%= image('offer3.jpg', true) %>" alt="basic offer"><div class="cover"></div>
              <div class="offer-middle" id="netoffer">
                <div class="offer-title" id="netofferlabel">
                  <div class="text">
                    <h3><%= __('Community') %></h3>
                    <p><%= __('On quote 4000€/yr') %></p>
                  </div>
                </div>
              </div>
            </a>
            <span class="triangle"></span>
          </div>
          <div class="offer-details block">
            <div class="offer-desc">
              <h4><%= __('Manage an agenda for a network of Organizers') %></h4>
              <ul class="features">
                <li><i class="icon-ok-sign passive"></i><span><%= __('Features of the Basic Agenda') %></span></li>
                <li><i class="icon-ok-sign passive"></i><span><%= __('Features of the Editor Agenda') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Administration of contributors') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Advanced moderation') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Agenda aggregation') %></span></li>
                <li><i class="icon-ok-sign"></i><span><%= __('Statistics') %></span></li>
              </ul>
              <a class="button"><%= __('Try it for free') %></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section id="references">
    <div class="content">
      <h2><%= __('References') %></h2>
      <div class="testimonial row">
        <p>"<%= __('We organized a nationwide operation, where nearly 100 contributors published events in our Cibul agenda. In the end, the feedbacks praised the ease of use and stability of the agenda. The solution contributed largely to the success of our ministry\'s project!') %>"</p>
        <span>Virginie Staels - <%= __('Web Projects Manager') %></span>
        <span><%= __('Ministry of National Education, Higher Education and Research') %></span>
      </div>
      
      <ul class="sites row">
        <li>
          <a href="http://www.fetedelabretagne.com">
            <img src="<%= image('fdb.png', true) %>" alt="Collectif Culture Bar-Bars">
            <p>Fête de la Bretagne</p>
            <span>www.fetedelabretagne.com</span>
          </a>
        </li>
        <li>
          <a href="http://bar-bars.com">
            <img src="<%= image('ccbb.png', true) %>" alt="Fête de la Bretagne">
            <p>Collectif Culture Bar-bars</p>
            <span>bar-bars.com</span>
          </a>
        </li>
        <li>
          <a href="http://journee-arts-culture-sup.fr">
            <img src="<%= image('jdc.png', true) %>" alt="Journée des Arts et de la Culture">
            <p>Journée des Arts et de la Culture</p>
            <span>journee-arts-culture-sup.fr</span>
          </a>
        </li>
      </ul>

      <ul class="logos row">
        <li><a target="_blank" href="http://www.bretagne.fr/"><img src="<%= image('refs/bretagne.jpg', true) %>" alt="Région Bretagne"></a></li>
        <li><a target="_blank" href="http://bar-bars.com/"><img src="<%= image('refs/barbars.jpg', true) %>" alt="Collectif Culture Bar-Bars"></a></li>
        <li><a target="_blank" href="http://www.greenpeace.org"><img src="<%= image('refs/greenpeace.png', true) %>" alt="Greenpeace"></a></li>
        <li><a target="_blank" href="http://www.education.gouv.fr/"><img src="<%= image('refs/ministere.jpg', true) %>" alt="Ministère de l'Education Nationale, de l'Enseignement Supérieur et de la Recherche"></a></li>
        <li><a target="_blank" href="http://www.fidh.org"><img src="<%= image('refs/fidh.jpg', true) %>" alt="Fédération Internationale des Droits de l'Homme"></a></li>
        <li><a target="_blank" href="http://levolume.fr/"><img src="<%= image('refs/levolume.jpg', true) %>" alt="Le Volume"></a></li>
      </ul>
    </div>
  </section>

  <section class="colored-dark footer">
    
    <div id="contact" class="content">
      <ul class="row contacts">
        <li class="col">
          <h2><%= __('The Company') %></h2>
          <div class="block">
            <span class="name">Cibul SARL</span>
            <span class="address">24 rue de l'Est, 75020 Paris</span>
            <span class="telephone">+33983743461</span>
          </div>
          <div class="block">
            <ul class="big-social-links">
              <li><a href="//twitter.com/cibul" target="_blank"><i class="icon-twitter"></i></a></li>
              <li><a href="//facebook.com/cibul.net" target="_blank"><i class="icon-facebook"></i></a></li>
              <li><a href="//www.youtube.com/user/CibulTV" target="_blank"><i class="icon-youtube"></i></a></li>
            </ul>
          </div>
          <div class="block bottom-links">
            <ul>
              <li><a href="#"><%= __('suggestions') %></a></li>
              <li><a href="#"><%= __('bugs') %></a></li>
              <li><a href="#"><%= __('about') %></a></li>
              <li><a href="#"><%= __('terms of use') %></a></li>
            </ul>
          </div>
        </li><!--
        --><li class="col">
          <h2><%= __('The Team') %></h2>
          <div class="block team-member">
            <span class="name">Romain Lange</span>
            <span class="title"><%= __('Commercial Director') %></span>
            <span class="mobile"><i class="icon-phone"></i><span>+33612016842</span></span>
            <span class="email"><i class="icon-envelope"></i><a href="mailto:romain.lange@cibul.net">romain.lange@cibul.net</a></span>
            <span>
              <a href="https://twitter.com/romainlange" target="_blank"><i class="icon-twitter"></i></a>
              <a href="https://fr.linkedin.com/in/romainlange" target="_blank"><i class="icon-linkedin-sign"></i></a>
              <a href="skype:romainlange?call"><i class="icon-skype"></i></a>
            </span>
          </div>
          <div class="block team-member">
            <span class="name">Kárì Olafsson</span>
            <span class="title">CTO</span>
            <span class="email"><i class="icon-envelope"></i><a href="mailto:kaore@cibul.net">kaore@cibul.net</a></span>
            <span>
              <a href="//twitter.com/ka0re" target="_blank"><i class="icon-twitter"></i></a>
              <a href="//fr.linkedin.com/in/kariolafsson" target="_blank"><i class="icon-linkedin-sign"></i></a>
            </span>
          </div>
        </li><!--
        --><li class="col">
          <h2><%= __('Newsletter ') %></h2>
          <div class="block newsletter">
            <form>
              <label for="newsletter-subscribe"><%= __('Your email ') %></label>
              <input type="text" name="newsletter-subscribe" placeholder="<%= __('Your email ') %>"><!--
              --><button type="submit"><i class="icon-angle-right"></i></button><!--
            --></form>
          </div>
          <h2><%= __('Medias/API') %></h2>
          <div class="block api">
            <span><%- __('Cibul agendas are %opendata% and available through the %cibulapi%.', {'%opendata%' : '<a href="http://cibul.net/termsofuse/fr">Open Data</a>' , '%cibulapi%' : '<a href="//developers.cibul.net" target="_blank">API</a>'}) %></span>
          </div>
        </li>
        <li>
        </li>
      </ul>
    </div>
  </section>
</main>