<div id="content">
  <% include nav.part.ejs %>

  <div class="about">
    <div class="container">
      <header class="text">
        <h1><strong><%= __('Our philosophy') %></strong>&nbsp;: <%= __('agendas open for everyone') %></h1>
        <p><%= __('Launched in Paris in april 2015, OpenAgenda offers both a free platform') %>
        <br/><%= __('and services tailored to your needs.') %></p>
      </header>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <p><%= __('OpenAgenda was born from a simple observation: the creation and management of agendas is often costly, difficult, redundant, requiring repetitive manual entries by organizers, and not allowing an easy flow of information.') %></p>
          <p><%= __('OpenAgenda offers a complete tool, promotes an open standard, from a unique entry and mutualizes information between thousands of agendas.') %></p>
          <p><%= __('Because OpenAgenda defends free information accessible to all, our engagements') %>:<br>
          - <%= __('The service is free and it will stay that way') %><br>
          - <%= __('The data belongs to you') %>&nbsp;: <%= __('you can export it, edit it, delete it when you wish') %><br>
          - <%= __('The OpenAgenda standard is documented and the data is reusable by all') %></p>
          <p><%= __('Only private events (not visible by the public) is the object of a specific pricing. For advanced professional requirements, OpenAgenda offers a range of tailored services.') %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="founders">
  <div class="container">
    <h2><%= __('The founders') %></h2>
    <div class="row">
      <section class="col-sm-5 col-sm-offset-1">
        <img src="<%= _i( 'romain.jpg', true ) %>" alt="Photo de Romain" height="200" width="200">
        <h3>Romain Lange<small><abbr="Chief Executive Officer">CEO</abbr></small></h3>
        <ul>
          <li>romain.lange@openagenda.com</li>
        </ul>
      </section>
      <section class="col-sm-5">
          <img src="<%= _i( 'kaore.jpg', true ) %>" alt="Photo de Kaore" height="200" width="200">
          <h3>Kaoré Olafsson<small><abbr="Chief Technology Officer">CTO</abbr></small></h3>
          <ul>
            <li>kaore@openagenda.com</li>
          </ul>
      </section>
    </div>
  </div>
</div>