<div id="content">
  <% include nav.part.ejs %>
  <div class="about">
    <div class="container">
      <header class="text">
        <h1><%= __('Features of your agenda') %></h1>
      </header>
      <section class="row feature first">
        <div class="col-sm-4 icon-container">
          <i class="oa oa-bullhorn"></i>
        </div>
        <article class="col-sm-8">
          <header>
            <h2><%- __('%uniqueentry% for multiple formats', { '%uniqueentry%' : '<strong>' + __('A unique entry') + '</strong>'}) %></h2>
            <p><%= __('For the organizer: time gained, exportable data on all websites and formats') %></p>
          </header>
          <p><%= __('Broadcast your agendas and events on') %>:</p>
          <ul>
            <li><%= __( 'websites') %></li>
            <li><%= __( 'Facebook pages' ) %></li>
            <li><%= __( 'newsletters' ) %></li>
            <li><%= __( 'print' ) %></li>
            <li><%= __( 'personal calendars (google, yahoo, etc.)' ) %></li>
            <li><%= __('downloadable formats' ) %> (RSS, ICS, CSV, XML)</li>
            <li><%= __( 'third party apps' ) %> (API)</li>
          </ul>
          <a class="btn btn-primary" href="<%= genUrl('signup') %>"><%= __('Create an agenda') %></a>
        </article>
      </section>

      <section class="row feature">
        <div class="col-sm-4 icon-container">
          <i class="oa oa-opendata"></i>
        </div>
        <article class="col-sm-8">
          <header>
            <h2><strong>Open</strong> Data</h2>
            <p><%= __( 'Broadcast your content beyond your own website. Adopt the latest best practices today.' ) %></p>
          </header>
          <p><%= __( 'OpenAgenda enables you to publish your events in a reusable format, making it easier for partners and medias to relay your information.' ) %></p>
          <ul>
            <li><%= __( 'Publication standards' ) %></li>
            <li><%= __( 'OBDL License' ) %></li>
            <li><%= __( 'Unrestricted download' ) %></li>
          </ul>
          <a class="btn btn-primary" href="<%= genUrl('signup') %>"><%= __('Create an agenda') %></a>
        </article>
      </section>

      <section class="row feature">
        <div class="col-sm-4 icon-container">
          <i class="oa oa-crowd"></i>
        </div>
        <article class="col-sm-8">
          <header>
            <h2><%- __('Participative <strong>Agenda</strong>') %></h2>
            <p><%= __('Mutualize your content production resources to meet your and your partners needs') %></p>
          </header>
          <p><%= __('You organize an event requiring a significant coordination effort between a multitude of organizaers ? OpenAgenda will allow your to create in a few steps a participative agenda.') %></p>
          <p><%= __('Our features') %>:</p>
          <ul>
            <li><%= __('Unlimited number of contributors') %></li>
            <li><%= __('Moderation and management of edition rights') %></li>
            <li><%= __('Content statistics') %></li>
          </ul>
          <a class="btn btn-primary" href="<%= genUrl('signup') %>"><%= __('Create an agenda') %></a>
        </article>
      </section>

      <section class="row feature">
        <div class="col-sm-4 icon-container">
          <i class="oa oa-network"></i>
        </div>
        <article class="col-sm-8">
          <header>
            <h2><%- __('<strong>Agenda</strong> agregation') %></h2>
            <p><%= __('Do you manage a territory or a network of organizers?') %></p>
          </header>
          <p><%= __('Invite them to create their agendas and automatically import their events') %></p>
          <p><%- __('See big and create <em>networks of networks</em>!') %><br> 
          <%- __('Invite federations to deply their networks and import their events.') %></p>
          <a class="btn btn-primary" href="<%= genUrl('signup') %>"><%= __('Create an agenda') %></a>
        </article>
      </section>

      <section class="row feature">
        <div class="col-sm-4 icon-container">
          <i class="oa oa-pipes"></i>
        </div>
        <article class="col-sm-8">
          <header>
            <h2><%- __('An <strong>API</strong> for importing and exporting data') %></h2>
            <p><%= __('The API allows you to automatically syncronize your agendas and to fetch content from the entire database.') %></p>
          </header>
          <p><%= __( 'An API that suits all your needs' ) %>:</p>
          <ul>
            <li><%= __( 'Import your event data archives' ) %></li>
            <li><%= __( 'Reuse the public data of OpenAgenda on your websites or applications' ) %></li>
            <li><%= __( 'Publish on OpenAgenda form a third-party database' ) %></li>
          </ul>
          <a class="btn btn-primary" href="<%= genUrl('signup') %>"><%= __('Create an agenda') %></a>
        </article>
      </section>

      <section class="row feature">
        <div class="col-sm-4 icon-container">
          <i class="oa oa-key"></i>
        </div>
        <article class="col-sm-8">
          <header>
            <h2><%- __('Private <strong>events</strong>') %></h2>
            <p><%= __('Private events = events not visible by the public') %></p>
          </header>
          <p><%= __('Would you like having a powerful tool at your disposal to manage your private events (internal agendas, seminars, etc.) ?') %></p>
          <p><%= __('Do you use the same interface and the same data formats for both your private and public events?' ) %></p>
          <p><%= __('OpenAgenda offers secure ways to simplify your public/private content management needs. Contact us for a quote.') %></p>
          <a class="btn btn-primary" href="<%= genUrl('signup') %>"><%= __('Create an agenda') %></a>
        </article>
      </section>
    </div>
  </div>
</div>