<div id="content">
  <% include nav.part.ejs %>
  <div class="container">

    <header class="text">
      <h1><%- __('Import, export, broadcast %youragendas% has never been this easy', { '%youragendas%' : '<strong>' + __('your agendas') + '</strong>' }) %></h1>
    </header>

    <div class="row">
      <div class="col-sm-6">
        <img class="img-responsive" src="<%= _i( 'screens.png', true ) %>" alt="<%= __('agenda views') %>" />
      </div><div class="col-sm-6 text-center">
        <p class="strong"><%= __('Geolocated, participative, multimedia, multilingual, downloadable, exportable, OpenData, API-accessible. Anything is possible.') %></p>
        <p class="action-container"><a class="btn btn-primary" href="<%= genUrl('signup') %>"><%= __('Create an agenda') %> <small>(<%= __('free') %>)</small></a></p>
      </div>
    </div>
  </div><!-- /.container -->

  <section class="partners">
    <h2><%= __('They trust us') %></h2>
    <ul>
  <% references.forEach( function( r ) { %>
      <li>
        <a href="<%= r.href %>" target="_blank">
          <img class="img-responsive" src="<%= _i( r.src, true ) %>" alt="<%= r.alt %>">
        </a>
      </li>
  <% }); %>
    </ul>
  </section>

  <section class="follow-us">
    <h2><%= __('Follow us!') %></h2>
    <ul>
      <li class="facebook">
        <a href="https://www.facebook.com/getopenagenda" target="_blank"><i class="fa fa-facebook-official"></i></a>
      </li><li class="twitter">
        <a href="https://twitter.com/OpenAgendaFR" target="_blank"><i class="fa fa-twitter"></i></a>
      </li><li class="newsletter">
        <form method="post" action="<%= genUrl('newsletterSubscribe') %>">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="<%= __( 'Your email address' ) %>" name="email">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit"><%= __('Subscribe to the newsletter') %></button>
            </span>
          </div>
        </form>
      </li>
    </ul>
  </section>

</div>