<ul class="nav nav-pills">
  <li <% if ( tab=='home' ) { %>class="active"<% } %>><a href="<%= genUrl( 'corpoHome' ) %>"><%= __('Home') %></a></li>
  <li <% if ( tab=='features' ) { %>class="active"<% } %>><a href="<%= genUrl( 'corpoFeatures' ) %>"><%= __('Features') %></a></li>
  <li <% if ( tab=='pricing' ) { %>class="active"<% } %>><a href="<%= genUrl( 'corpoPricing' ) %>"><%= __('Pricing') %></a></li>
  <li <% if ( tab=='api' ) { %>class="active"<% } %>><a href="https://developers.openagenda.com">API</a></li>
  <li <% if ( tab=='about' ) { %>class="active"<% } %>><a href="<%= genUrl( 'corpoAbout' ) %>"><%= __('About us') %></a></li>
</ul>