<div id="content">

  <% include nav.part.ejs %>

  <div class="about">
    <div class="container text">
      <header>
        <h1><%= __( 'OpenAgenda is free for all public events' ) %><br><strong><%= __('And will stay that way') %></strong></h1>
      </header>
      <p><%= __( 'Do you wish to manage private events? Do you wish to manage specific data?' ) %></p>
      
      <p><%= __( 'Our team is also at your disposal for') %>:</p>
      <ul>
        <li>
          <i class="fa fa-check-circle-o"></i><%= __('Audits and Data Certification') %>
        </li><li>
          <i class="fa fa-puzzle-piece"></i><%= __('Deployment solutions') %>
        </li><li>
          <i class="fa fa-crosshairs"></i><%= __('Tailored agendas') %>
        </li><li>
          <i class="fa fa-graduation-cap"></i><%= __('Training') %>
        </li>
      </ul>
    </div>
  </div>

  <div class="container contact-us">
    <p><%= __( 'For any question or pricing request' ) %></p>
    <h2><%- __( 'Please contact Romain Lange: +33612016842 <br>or fill in the form here below' ) %>:</h2>
    <iframe src="https://docs.google.com/forms/d/1IF_aSREyVqn9ahBEN0Xt02xuTyV6Yu7dNXK22l7aCpQ/viewform?embedded=true" width="680" height="475" frameborder="0" marginheight="0" marginwidth="0"><%= __('Loading...') %></iframe>
  </div>
</div>