<div id="content">

  <% include nav.part.ejs %>

  <div class="about">
    <div class="container text">
      <header>
        <h1><%= __( 'OpenAgenda is free for all public events' ) %><br><strong><%= __('And will stay that way') %></strong></h1>
      </header>
      <p><%= __( 'Do you wish to manage private events? Do you wish to manage specific data?' ) %></p>
      
      <p><%= __( 'Our team is also at your disposal for') %>:</p>
      <ul>
        <li>
          <i class="fa fa-check-circle-o"></i><%= __('Audits and Data Certification') %>
        </li><li>
          <i class="fa fa-puzzle-piece"></i><%= __('Deployment solutions') %>
        </li><li>
          <i class="fa fa-crosshairs"></i><%= __('Tailored agendas') %>
        </li><li>
          <i class="fa fa-graduation-cap"></i><%= __('Training') %>
        </li>
      </ul>
    </div>
  </div>

  <div class="container contact-us">
    <p><%= __( 'For any question or pricing request' ) %></p>
    <h2><%- __( 'Please contact us at %email%', { '%email%' : '<a href="mailto:contact@openagenda.com">contact@openagenda.com</a>'} ) %></h2>
  </div>
</div>