<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="language" content="<%= lang %>" />
<% for ( var i in metas ) { %>
    <meta name="<%= i %>" content="<%= __( metas[i] ) %>" />
<% } %>
<% for ( var i in head.css ) { %>
    <link rel="stylesheet" href="<%= head.css[i] %>"/>
<% } %>
<% for ( var i in js ) { %>
    <script type="text/javascript" src="<%= js[i] %>"></script>
<% } %>
  </head>
  <body<% if ( pageClass ) { %> class="<%= pageClass %>"<% } %>>
    <header>
      <a class="logo" href="/"><img src="/images/biglogo.png"></a>
      <ul class="links site-links js_header_links">
<% if ( typeof links !== 'undefined' ) { %>
<% links.forEach( function( link ) { %>
        <li><a href="<%= link.url %>"><%= __(link.label) %></a></li>
<% }); %>
<% } %>
        <li><a class="js_signin_link" href="<%= genUrl('authShow') %>"><%= __('Sign in') %></a></li>
        <li class="language-menu js_language_menu">
          <a><% if ( ( typeof lang == 'undefined' ) || lang=='fr' ) { %>fr<% } else { %>en<% } %></a>
          <ul class="language-menu">
            <li><a rel="alternate" href="?lang=fr" hreflang="fr">français</a></li><!--
            --><li><a href="?lang=en" hreflang="en">english</a></li>
          </ul>
        </li>
        <li>
          <form class="search" method="get" action="<%= genUrl(searchRes) %>">
            <input type="text" name="search[what]" value="<%= search && ( typeof search.what !== 'undefined' ) ? search.what : '' %>"/>
            <button type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </li>
      </ul>
    </header>