<% if (type=='html') {             // HTML PART               %>

    <!-- BEGIN BODY // -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="featuredEvent" style="<%= css.featuredEvent %>">
<% if (event.image) { %>
<% include ../sections/imageTop %> <!-- EVENT HEAD SECTION -->
        <img src="<%= event.image %>" style=" <%= css.featuredImage %>" class="featuredImage"/>
<% include ../sections/imageBottom %>
<% } %>
      <tr>
        <td valign="top" class="bodyContent" style="<%= css.bodyContent %>">
          <table>
            <tbody>
              <tr>
                <td>
                  <span class="featuredTitle" style="<%= css.featuredTitle %>">
                    <a target="_blank" href="<%= genUrl('agendaEventShow', { eSlug: event.slug }, { abs: true }) %>" style="<%= css.featuredTitlea %>"><%= event.title %></a>
                  </span>
                  <span style="<%= css.featuredSpaceTime %>">
                    <a target="_blank" href="<%= genUrl('agendaEventShow', { eSlug: event.slug }, { abs: true }) %>" style="<%= css.featuredSpaceTimea %>"><%= __(event.spaceTimeInfo[0], _t(event.spaceTimeInfo[1])) %></a>
                  </span>
                  <span style="<%= css.featuredDesc %>">
                    <a target="_blank" href="<%= genUrl('agendaEventShow', { eSlug: event.slug }, { abs: true }) %>" style="<%= css.featuredDesca %>"><%= event.description %></a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>  
        </td>
      </tr>
    </table>
<% } else {              // TEXT PART              %>
<%- event.title %>
<%- __(event.spaceTimeInfo[0], _t(event.spaceTimeInfo[1])) %>
<%- event.description %>
<% } %>