<% if (type=='html') {             // HTML PART             %>
<% if (event.image) { %>
<% include ../sections/marginlessTop %> <!-- EVENT HEAD SECTION -->
  <img src="<%= event.image %>" style=" <%= css.headerImage %>" id="headerImage"/>
<% include ../sections/marginlessBottom %>
<% } %>
<% include ../sections/top %>
  <h1 target="_blank" style="<%= css.h1 %>"><a href="<%= event.slug %>" style="<%= css.h1a %>"><%= event.title %></a></h1>
  <h3 target="_blank" style="<%= css.h3 %>"><a href="<%= event.slug %>" style="<%= css.h3a %>"><%= event.description %></a></h3>
  <h4 target="_blank" style="<%= css.h4 %>"><a href="<%= event.slug %>" style="<%= css.h4a %>"><%= event.dateRange %></a></h4>
<% event.freeText.split('\n').forEach(function(freeTextLine) { %>
  <%= freeTextLine %>
  <br />
<% }); %>
<% include ../sections/bottom %>

<% include ../sections/marginlessTop %><!-- MAP SECTION -->
  <img src="<%= event.mapImage %>" style="<%= css.mapImage %>" id="mapImage"/>
<% include ../sections/marginlessBottom %>

<% include ../sections/top %><!-- TIMING DETAILS SECTION -->
<% event.locations.forEach(function(location) { %>
          <br/>
          <h2 style="<%= css.h2 %>"><%= location.name %></h2>
          <h3 style="<%= css.h3 %>"><%= location.address %></h3>
<% if (location.pricingInfo) { %>
          <%= location.pricingInfo %>
<% } %>
<% if (location.ticketLink) { %>
          <a href="<%= location.ticketLink %>" target="_blank"><%= __('book') %></a>
<% } %>
<% if (location.pricingInfo || location.ticketLink) { %>
          <br/><br/>
<% } %>
<% location.timings.forEach(function(timing) { %>
          <%= timing.start %>
<% }); %>
<br/>
<% }); %>
<% include ../sections/bottom %>


<% } else {              // TEXT PART             %>

<%= event.title %>
<%= event.dateRange %>
<%= event.description %>

<% event.freeText.split('\n').forEach(function(freeTextLine) { %>
  <%= freeTextLine %>
  <br />
<% }); %>

<% } %>