<% if (type=='html') {             // HTML PART               %>
<% include ../sections/top %>
  <span class="itemTitle" style="<%= css.itemTitle %>">
    <a class="itemTitlea" target="_blank" href="<%= genUrl('agendaEventShow', { eSlug: event.slug }, { abs: true }) %>" style="<%= css.itemTitlea %>"><%= event.title %></a>
  </span>
  <span class="itemSpaceTime" style="<%= css.itemSpaceTime %>">
    <a class="itemSpaceTimea" target="_blank" href="<%= genUrl('agendaEventShow', { eSlug: event.slug }, { abs: true }) %>" style="<%= css.itemSpaceTimea %>"><%= __(event.spaceTimeInfo[0], _t(event.spaceTimeInfo[1])) %></a>
  </span>   
  <span class="itemDesc" style="<%= css.itemDesc %>">
    <a class="itemDesca" target="_blank" href="<%= genUrl('agendaEventShow', { eSlug: event.slug }, { abs: true }) %>" style="<%= css.itemDesca %>"><%= event.description %></a>
  </span>
<% if ( nextIsItem ) { %>
  <span class="itemSeparator" style="<%= css.itemSeparator %>"></span>
<% } %>
<% include ../sections/bottom %>

<% } else {              // TEXT PART              %><%- event.title %>
<%- __(event.spaceTimeInfo[0], _t(event.spaceTimeInfo[1])) %>
<%- event.description %>
<% } %>