<% if (type=='html') {             // HTML PART             %>
<% if (image) { %>
<% include ../sections/marginlessTop %>
  <img src="<%= image %>" style=" <%= css.headerImage %>" id="headerImage"/>
<% include ../sections/marginlessBottom %>
<% } %>

<% include ../sections/top %>
  <h1 target="_blank" style="<%= css.h1 %>"><a href="<%= url %>" style="<%= css.h1a %>"><%= title %></a></h1>
  <h3 target="_blank" style="<%= css.h3 %>"><a href="<%= url %>" style="<%= css.h3a %>"><%= description %></a></h3>
<% include ../sections/bottom %>

<% include ../sections/spacer %>

<% events.forEach(function(event) { %>
  <% include ../event/item %>
<% }); %>

<% } else {              // TEXT PART             %>

<%= title %>
<%= description %>

<% events.forEach(function(event) { %>
  <% include ../event/item %>
<% }); %>
<% } %>