<div class="header">
  <h2><%= __('contributionNote') %></h2>
</div>
<section>
  <form class="cform" method="post" action="<%= genUrl( 'contributorsInfoSubmit', { slug: agenda.slug } ) %>">
    <ul>
      <li>
        <label for="info"><%= __( 'provideGuidelines' ) %></label>
        <textarea name="info"><%= info %></textarea>
      </li>
      <li>
        <ul class="line">
          <li>
            <a class="button" href="<%= genUrl( 'agendaAdminContributors', { slug: agenda.slug }) %>"><%= __('back') %></a>
          </li>
          <li>
            <button class="green"><%= __('submit') %></button>
          </li>
        </ul>
      </li>
    </ul>
  </form>
</section>