{{registerFilter type='radio' id=name}}

<div
  data-oa-filter
  data-oa-filter-id="{{name}}"
  data-oa-filter-type="radio"
  {{#if name}}
  data-oa-filter-name="{{name}}"
  {{/if}}
  {{#if options}}
  data-oa-filter-options="{{json (object options)}}"
  {{/if}}
  {{#if fieldName}}
  data-oa-filter-field-schema="{{json (fieldSchema fieldName)}}"
  {{/if}}
  {{#if inputType}}
  data-oa-filter-input-type="{{inputType}}"
  {{/if}}
>
</div>
