<% if (type=='html') {             // HTML PART             %>
<% if (image) { %>
<% include sections/imageTop %>
  <img src="<%= image %>" style=" <%= css.headerImage %>" id="headerImage"/>
<% include sections/imageBottom %>
<% } %>

<% include sections/top %>
  <h1 style="<%= css.h1 %>"><a target="_blank" href="<%= genUrl('agendaShow') %>" style="<%= css.h1a %>"><%= title %></a></h1>
  <p class="edito" style="<%= css.edito %>"><a target="_blank" href="<%= genUrl('agendaShow') %>" style="<%= css.editoa %>"><%- _txt.nl2br(edito) %></a></h3>
<% include sections/bottom %>

<% if (featuredEvents && featuredEvents.length) { %>

<% include sections/sectionTop %>
  <h2><%= __('Featured Events') %></h2>
<% include sections/sectionBottom %>
<% featuredEvents.forEach(function( event ) { %>
  <% include event/featured %>
<% }); %>

<% } %>

<% if (items && items.length) { %>

<% include sections/spacer %>

<% include sections/sectionTop %>
  <h2><%= __('The selection') %></h2>
<% include sections/sectionBottom %>

<% items.forEach(function(item) { %>
<% if (item.itemType=='segment') { %>
<% include sections/segment %>
<% } else { %>
<% var event = item; %>
<% include event/item %>
<% } %>
<% }); %>

<% } %>

<% } else {              // TEXT PART             %>

<%- title.toUpperCase() %>

<%- edito %>

<% if (featuredEvents && featuredEvents.length) { %>

<%- __('Featured Events').toUpperCase() %>

<% featuredEvents.forEach(function(event) { %>
  <% include event/featured %>
<% }); %>

<% } %>

<% if (items && items.length) { %>

<%- __('The selection').toUpperCase() %>

<% items.forEach(function(item) { %>
<% if (item.itemType=='segment') { %><% include sections/segment %><% } else { %><% var event = item; %><% include event/item %><% } %>
<% }); %>

<% } %>

<% } %>