<% if (type=='html') {             // HTML PART             %>
<% if (image) { %>
<% include sections/marginlessTop %>
  <img src="<%= image %>" style=" <%= css.headerImage %>" id="headerImage"/>
<% include sections/marginlessBottom %>
<% } %>

<% include sections/top %>
  <h1 style="<%= css.h1 %>"><a target="_blank" href="<%= genUrl('agendaShow') %>" style="<%= css.h1a %>"><%= title %></a></h1>
  <h3 style="<%= css.h3 %>"><a target="_blank" href="<%= genUrl('agendaShow') %>" style="<%= css.h3a %>"><%= edito %></a></h3>
<% include sections/bottom %>

<% include sections/spacer %>

<% if (featuredEvents && featuredEvents.length) { %>

<% include sections/top %>
  <h1><%= __('Featured Events') %></h1>
<% include sections/bottom %>
<% featuredEvents.forEach(function(event) { %>
  <% include event/item %>
<% }); %>

<% } %>

<% if (items && items.length) { %>

<% include sections/spacer %>

<% include sections/top %>
  <h1><%= __('The selection') %></h1>
<% include sections/bottom %>

<% items.forEach(function(item) { %>
<% if (item.itemType=='segment') { %>
<% include sections/segment %>
<% } else { %>
<% var event = item; %>
<% include event/smallItem %>
<% } %>
<% }); %>

<% } %>

<% } else {              // TEXT PART             %>

<%- title.toUpperCase() %>

<%- edito %>

<% if (featuredEvents && featuredEvents.length) { %>

<%- __('Featured Events').toUpperCase() %>

<% featuredEvents.forEach(function(event) { %>
  <% include event/item %>
<% }); %>

<% } %>

<% if (items && items.length) { %>

<%- __('The selection').toUpperCase() %>

<% items.forEach(function(item) { %>
<% if (item.itemType=='segment') { %><% include sections/segment %><% } else { %><% var event = item; %><% include event/smallItem %><% } %>
<% }); %>

<% } %>

<% } %>