<div class="row">
  <div class="col-md-2 text-center">
    <span class="text-muted">
      {{#if nextTiming}}
      {{nextTiming.label}}
      {{else if lastTiming}}
      {{lastTiming.label}}
      {{else}}
      Aucun horaire n'est disponible
      {{/if}}
    </span>
  </div>
  <div class="col-md-10">
    <a href="{{link}}" class="event-item">
      <div class="wbg px-4 py-3">
        <h3>
          {{title}}
          {{#customWidget
            name='favorite'
            tagName='span'
            aria-label='Ajouter aux favoris'
            className='float-right'
            eventUid=uid
            activeClass='fas'
            inactiveClass='far'
            activeTargetSelector='i'
            handlerSelector='i'
          }}
            <i class="far fa-star" tabindex="0"></i>
          {{/customWidget}}
        </h3>
        <p>{{description}}</p>
        <p>{{range}}</p>

        {{#if location}}
          <p>{{locationName}}</p>
        {{else}}
          <p>En ligne</p>
        {{/if}}

      </div>
      {{#if image}}
      <div class="text-center">
        <img class="img-fluid" src="{{image image}}" alt="{{description}}" />
      </div>
      {{/if}}
      <script type="application/ld+json">
      {{{JSONLD}}}
      </script>
    </a>
  </div>
</div>
