<nav role="navigation">
  <ul class="pagination">
    {{#each pages}}
    <li class="page-item {{#if previous}}previous{{/if}} {{#if next}}next{{/if}} {{#if current}}active{{else}}js_trigger_spin{{/if}}">
      <a class="page-link" href="/p/{{page}}{{../searchString}}" aria-label="{{i18n 'goToPage'}} {{#unless previous}}{{#unless next}}{{page}}{{/unless}}{{/unless}}{{#if previous}}{{i18n 'previousFem'}}{{/if}}{{#if next}}{{i18n 'nextFem'}}{{/if}}">
        {{#if previous}}{{i18n 'previous'}}
        {{else if next }}{{i18n 'next'}}
        {{else}}{{page}}
        {{/if}}
      </a>
    </li>
    {{/each}}
  </ul>
</nav>