<div class="sidebar">
  <div class="mobile-top-nav text-center" data-sidebar-toggle>
    <button class="btn btn-link">{{i18n 'backToList'}}</button>
  </div>
  <div class="sidebar-wrapper">
    <div class="my-4">
      {{filter
        type='map'
        name='geo'
        className='map-container'
        searchMessage=(i18n 'searchWhenMoving')
        searchWithMap=true
        tileAttribution='Map data © OpenStreetMap contributors'
        tileUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
      }}
    </div>

    <div class="my-4">
      <!-- id is required because both filters has the same name -->
      {{filter type='dateRange' name='timings'}}
      {{filter type='definedRange' name='timings' staticRanges=(array 'today' 'tomorrow')}}
    </div>

    <div class="my-4">
      <b>{{i18n 'passed'}} / {{i18n 'current'}} / {{i18n 'upcoming'}}</b>
      {{filter type='choice' name='relative'}}

      <b>{{i18n 'attendanceMode'}}</b>
      {{filter type='choice' name='attendanceMode' inputType='radio'}}

      <b>{{i18n 'customFilters'}}</b>

      {{#customFilter
        query=(object relative=(array 'current' 'upcoming') attendanceMode='1')
        activeClass='active'
        inactiveClass='inactive'
        className='custom-example checkbox'
      }}
        <label for="nothing">
          <input type="checkbox" tabindex="-1" readonly checked />
          <input type="checkbox" tabindex="-1" readonly />
          En cours + à venir + hors ligne
        </label>
      {{/customFilter}}

      {{#customFilter
        query=(object timings=(object gte='2021-06-23T22:00:00.000Z' lte='2021-06-24T21:59:59.999Z'))
        handlerSelector='.checkbox'
        activeClass='active'
        inactiveClass='inactive'
        className='custom-example checkbox'
      }}
        <label for="nothing">
          <input type="checkbox" tabindex="-1" readonly checked />
          <input type="checkbox" tabindex="-1" readonly />
          Jeudi 24 juin
        </label>
      {{/customFilter}}
    </div>

    {{widget
      name='total'
      message='eventsTotal'
      tagName='span'
      className='mobile-bottom-nav'
      attributes='data-sidebar-toggle'
    }}
  </div>
</div>
