<div class="cb e404">
  <div class="canvas center">
    <div class="errorLabel">404</div>
    <div>
      <p><%= __( message ? message : 'The page you requested does not exist') %>.</p>
<% if ( link ) { %>
      <a class="url" href="<%= genUrl( link.uri, link.values ) %>"><%= __( link.label ) %></a>
<% } %>
    </div>
    <div class="search">
      <form class="cform csingle bigger" method="get" action="<%= genUrl( 'searchEvents' ) %>">
        <input type="text" name="search[what]" value="<%= search && ( typeof search.what !== 'undefined' ) ? search.what : '' %>"/>
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</div>