{{>layout.top}}
{{>head tagName="h1" link=root}}
<div class="container">
  <div class="row justify-content-center">
    <div class="my-5 col-6 col-md-8 col-sm-10 wbg px-4 py-3">
      <h2>Agenda complet</h2>
      <p>Pour afficher votre agenda sur une page de votre site web, ouvrez l'éditeur de votre site, choisissez la page, ouvrez sa version HTML, puis copiez ce bloc de code</p>
      <pre>
        <code>
          &lt;iframe
            data-oa-portal="{{root}}"
            data-scroll-offset="0"
            allowtransparency="allowtransparency"
            frameborder="0"
            data-lang="{{lang}}"
          &gt;&lt;/iframe&gt;
          &ltscript 
            type="text/javascript"
            src="{{root}}/js/oaPortalController.js"
          &gt;&lt;/script&gt;
        </code>
      </pre>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="my-5 col-6 col-md-8 col-sm-10 wbg px-4 py-3">
      <h2>Bloc d'aperçu</h2>
      <p>Le bloc d'aperçu présente les X prochains événements de votre agenda, un clic sur un des événements renvoie sur la page contenant l'agenda complet, avec le détail de l'événement sur lequel vous avez cliqué. Pour afficher le bloc d'aperçu sur votre page d'accueil par exemple, ouvrez l'éditeur de votre site, choisissez la page d'accueil, ouvrez sa version HTML, puis copiez ce bloc de code</p>
      <pre>
        <code>
          &lt;iframe
            data-oa-preview="{{root}}/preview"
            data-count="3"
            data-random-from-set="20"
            data-lang="fr"
            data-target-url="https://url_where_the_portal_is.com"
            data-target-iframe
            allowtransparency="allowtransparency"
            frameborder="0">&lt;/iframe&gt;
          &lt;script
            type="text/javascript"
            src="{{root}}/js/oaPreviewController.js"
          &gt;&lt;/script&gt;
        </code>
      </pre>
    </div>
</div>
{{>layout.bottom}}