<article class="row">
  <aside class="col-sm-3 event-aside">
    <span class="time-count js_relative_time" data-relative-time="<%= event.closestDate %>"></span>
  </aside>
  <section class="col-sm-9">
    <a class="event-card" href="<%= event.link %>">
      <h3 class="event-title"><%= event.title %></h3>
<% if ( event.image ) { %>    
      <div class="event-img">
        <img class="img-responsive" src="<%= event.image %>" width="568" height="213">
      </div>
<% } %>
      <div class="event-text">
        <p><%= event.description %></p>
        <ul class="metas">
          <li><i class="fa fa-clock-o"></i> <%= event.dateRange %></li>
          <li>
            <i class="fa fa-map-marker"></i>
            <%= event.placeName %><% if ( typeof event.city !== 'undefined' ) { %>, <%= event.city %><% } %>
          </li>
<% if ( event.organization ) { %>
          <li data-slug="<%= event.organization.slug %>" class="org">
            <%= event.organization.label %>
          </li>
<% } %>
        </ul>
      </div>
    </a>
    <a class="event-action js_event_action" type="button" href="<%= event.importUri %>">
      <i class="fa fa-plus-circle"></i> <%= __('Add to my agenda') %>
    </a>
  </section>
</article>