<div class="header">
  <h2><%= __('Campaign') %></h2>
  <p><%= __(isNew?"New campaign":"Edit campaign") %></p>
  <a class="url" href="<%= genUrl('newsletterIndex') %>"><%= __('back to index') %></a>
</div>
<div class="col w33">

<form class="cform js_campaign_layout_form" method="post" action="<%= genUrl('campaignComplete', { slug: agenda.slug, uid: uid }) %>">

  <a href="<%= genUrl('campaignEdit', { slug: agenda.slug, uid : uid}) %>" ><h3 class="url"><%= title %></h3></a>

<% if ( type=="manual" ) { %>
  <section>
    <div class="header">
      <h3><%= __('Edito') %></h3>
    </div>
    <textarea class="js_frame_reload" rows="4" name="edito"><%= values.edito ? values.edito : "" %></textarea>
<% if ( errors.edito ) { %>
    <span class="error"><%= errors.edito %></span>
<% } %>
  </section>

  <section>
    <div class="header">
      <h3><%= __('Featured Events') %></h3>
    </div>
    <a class="button js_lightbox_trigger" href="<%= genUrl( 'campaignFeaturedEdit', { slug: agenda.slug, uid : uid } ) %>"><%= __('Select Events') %></a>
  </section>
<% } %>
  <section>
    <div class="header">
      <h3><%= __('Event List') %></h3>
    </div>

<% if ( type=="manual" ) { %>
    <div>
      <input class="js_exclude js_frame_reload" type="checkbox" name="exclude_selection" <% if ( values.exclude_selection ) { %>checked="checked"<% } %> />
      <label for="exclude_selection"><%= __('do not use') %></label>
    </div>
<% } %>
    <div class="js_selection_options">

      <h4><%= __('Filters') %></h4>
      
      <div>
        <p><%= __('Categories') %></p>

        <select class="js_frame_reload" name="category">
          <option value=""><%= __('all categories') %></option>
<% categories.forEach(function(category) { %>
          <option value="<%= category.slug %>" <% if (values.filters.category==category.slug) { %>selected<% } %>><%= category.label %></option>
<% }); %>
        </select>
      </div>

      <div>
        <p><%= __('Places and Geography') %></p>

        <div class="js_folded">

          <span class="info js_title"><%= __('select a group') %></span>
          
          <ul>
            <li class="subtitle js_subtitle"><%= __('By city') %></li>
            <li class="js_detail">
              <ul class="line">
<% cities.forEach(function(city) { %>
                <li>
                  <input class="js_frame_reload" type="checkbox" name="cities[<%= city.label %>]" <% if ( values.filters.cities.indexOf( city.slug ) !== -1 ) { %>checked<% } %>/>
                  <label><%= city.label %></label>
                </li>
<% }); %>
              </ul>
            </li>
            <li class="subtitle js_subtitle"><%= __('By department') %></li>
            <li class="js_detail">
               <ul class="line">
<% departments.forEach(function(department) { %>
                <li>
                  <input class="js_frame_reload" type="checkbox" name="departments[<%= department.slug %>]" <% if ( values.filters.departments.indexOf( department.slug ) !== -1 ) { %>checked<% } %>/>
                  <label><%= department.label %></label>
                </li>
 <% }); %>
              </ul>
            </li>
            <li class="subtitle js_subtitle"><%= __('By region') %></li>
            <li class="js_detail">
              <ul class="line">
<% regions.forEach(function(region) { %>
                <li>
                  <input class="js_frame_reload" type="checkbox" name="regions[<%= region.slug %>]" <% if ( values.filters.regions.indexOf( region.slug ) !== -1 ) { %>checked<% } %>/>
                  <label><%= region.label %></label>
                </li>
<% }); %>
              </ul>
            </li>
          </ul>
        </div>

      </div>

      <h4><%= __('Sorting') %></h4>

      <select class="js_frame_reload" name="segmentation">
        <option value=""><%= __('no sorting') %></option>
<% segmentTypes.forEach(function( segmentType ) { %>
        <option value="<%= segmentType.value%>"<% if ( segmentType.value===values.segmentation ) { %> selected<% } %>><%= __(segmentType.label) %></option>
<% }) %>
      </select>

      <div class="info"><%= __('Choose the item you want to see your event list divided') %></div>

    </div>

  </section>

  <section>
    <button class="green" type="submit"><%= __('Save') %>
  </section>

</form>

</div><!--
--><div class="col w66">
  <iframe name="newsletter-frame" height="1000" style="width: 100%;" src="<%= env == 'tpl' ? '/newsletter/show' : genUrl('newsletterPreview', { slug: agenda.slug, uid: uid }) %>"></iframe>
</div>
<script type="text/javascript">
  run({
    preview: '<%= genUrl('campaignLayoutUpdate', { slug: agenda.slug, uid: uid }) %>'
  });
</script>