<div class="header">
  <h2><%= __('Template') %></h2>
  <p><%= __('Define the template of the campaign') %></p>
</div>
<div class="col w33">

  <form class="cform" target="newsletter-frame" method="post" action="<% genUrl('campaignLayoutUpdate', {uid: uid}) %>">

<% if (type=="manual") { %>
    <section>
      <div class="header">
        <h3><%= __('Edito') %></h3>
      </div>
      <textarea rows="4" name="edito"><%= values.edito?values.edito:"" %></textarea>
<% if (errors.edito) { %>
      <span class="error"><%= errors.edito %></span>
<% } %>
    </section>

    <section>
      <div class="header">
        <h3><%= __('Featured Events') %></h3>
      </div>
      <a class="button" href="<%= genUrl('campaignFeaturedEdit', { uid: uid }) %>"><%= __('Select Events') %></a>
    </section>
<% } %>
    <section>
      <div class="header">
        <h3><%= __('Event List') %></h3>
      </div>
      
      <h4><%= __('Categories') %></h4>

      <select name="category">
        <option value=""><%= __('all categories') %></option>
<% categories.forEach(function(category) { %>
        <option value="<%= category.slug %>" <% if (values.category==category.slug) { %>selected<% } %>><%= category.label %></option>
<% }); %>
      </select>

      <h4><%= __('Places and Geography') %></h4>

      <ul>
        <li class="js_subtitle"><%= __('By city') %></li>
        <li class="js_detail">
          <ul class="line">
<% cities.forEach(function(city) { %>
            <li>
              <input type="checkbox" name="cities[<%= city.label %>]" <% if (values.cities[city.slug]) { %>checked<% } %>/>
              <label><%= city.label %></label>
            </li>
<% }); %>
          </ul>
        </li>
        <li class="js_subtitle"><%= __('By department') %></li>
        <li class="js_detail">
          <ul class="line">
<% departments.forEach(function(department) { %>
            <li>
              <input type="checkbox" name="departments[<%= department.slug %>]" <% if (values.departments[department.slug]) { %>checked<% } %>/>
              <label><%= department.label %></label>
            </li>
<% }); %>
          </ul>
        </li>
        <li class="js_subtitle"><%= __('By region') %></li>
        <li class="js_detail">
          <ul class="line">
<% regions.forEach(function(region) { %>
            <li>
              <input type="checkbox" name="regions[<%= region.slug %>]" <% if (values.regions[region.slug]) { %>checked<% } %>/>
              <label><%= region.label %></label>
            </li>
<% }); %>
          </ul>
        </li>
      </ul>

      <h4><%= __('Segmentation') %></h4>

      <p><%= __('Choose the item you want to see your event list divided') %></p>

      <select name="segmentation">
        <option value=""><%= __('no segmentation') %></option>
        <option value="category"><%= __('by category') %></option>
        <option value="day"><%= __('by day') %></option>
        <option value="department"><%= __('by department') %></option>
        <option value="region"><%= __('by region') %></option>
        <option value="city"><%= __('by city') %></option>
      </select>

    </section>

    <section>
      <button type="submit"><%= __('Create campaign') %>
    </section>

  </form>

</div><!--
--><div class="col w66">
  <iframe name="newsletter-frame" style="width: 100%; height: 1000px;" src="<%= genUrl('newsletterShow', {uid: uid}) %>"></iframe>
</div>