<div class="header">
  <h2><%= __('Campaign') %></h2>
  <p><%= __(isNew?"New campaign":"Edit campaign") %></p>
  <a class="url" href="<%= genUrl('newsletterIndex', { slug: agenda.slug }) %>"><%= __('back to index') %></a>
</div>

<form class="cform" method="post" action="<%= uid===null ? genUrl( 'campaignCreate', { slug: agenda.slug } ) : genUrl( 'campaignUpdate', { slug: agenda.slug, uid: uid } ) %>">
  
  <h3><%= __('Campaign title') %></h3>
  <p class="info"><%= __('Used in the subject field of sent emails') %></p>
  <section>
    <ul>
      <li class="w66">
        <input name="title" type="text" <% if ( values.title ) { %>value="<%= values.title %>"<% } %>/>
<% if (errors.title) { %>
        <span class="error"><%= __(errors.title) %></span>
<% } %>
      </li>
    </ul>
  </section>
  
  <h3><%= __('Associated list') %></h3>
  <section>
    <ul>
      <li class="w66">
<% if ( contactLists.length ) { %>
        <select name="list">
          <option value=""><%= __('choose a list') %></option>
<% contactLists.forEach(function( list ) { %>
          <option value="<%= list.uid %>" <% if ( values.list==list.uid ) { %>selected<% } %>><%= list.title %></option>
<% }); %>
        </select>
<% } else { %>
        <span><%= __('You do not have a contact list yet.') %></span>
        <a class="url" href="<%= genUrl('contactListNew', { slug: agenda.slug } ) %>"><%= __('Create a contact list') %></a>
<% } %>
<% if (errors.list) { %>
        <span class="error"><%= __(errors.list) %></span>
<% } %>
      </li>
    </ul>
  </section>
  <h3><%= __('Campaign Type') %></h3>
  <section>
    <ul class="line">
      <li class="w25">
        <input type="radio" name="type" value="0" <% if (!values.type || (values.type=="0")) { %>checked<% } %>/>
        <label><%= __('Manual') %></label>
      </li><!--
      --><li class="w75">
        <span class="bottom-spacing"><%= __('Write an editorial content, make a selection of events to promote and define a selection for a one off send') %></span>
        <ul class="line fieldset">
          <li>
            <input type="checkbox" name="schedule" <% if (values.schedule) { %>checked<% } %>>
            <label for="schedule"><%= __('schedule the campaign') %></label>
          </li>
          <li>            
            <select name="manual_date">
              <option value=""><%= __('day') %></option>
<% for ( var i = 1; i <= 31; i++ ) { %>
              <option value="<%= (i<10?'0':'') + i %>" <% if ((i<10?'0':'') + i==values.manual_date) { %>selected<% } %> ><%= (i<10?'0':'') + i %></option><% } %>
            </select>
          </li>
          <li>
            <select name="manual_month">
              <option value=""><%= __('month') %></option>
<% for (var m = 0; m<12; m++) { %>
              <option value="<%= m %>" <% if (values.manual_month===m+'') { %>selected<% } %>><%= __(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][m]) %></option>
<% } %>
            </select>
          </li>
          <li>
            <select name="manual_hours">
              <option value=""><%= __('pick an hour') %></option>
<% hours.forEach(function(hour) { %>
              <option value="<%= hour %>:00" <% if (values.manual_hours==hour+':00') { %>selected<% }%>><%= hour %>:00</option>
<%}); %>
            </select>
          </li>
          <li>
            <select name="manual_timezone" class="js_timezone">
              <option value=""><%= __('timezone') %></option>
<% timezones.forEach(function(tz) { %>
              <option value="<%= tz %>" <% if (values.manual_timezone==tz) { %>selected<% }%>><%= tz %></option>
<%}); %>
            </select>
          </li>
<% if (errors.manual_date || errors.manual_hours || errors.manual_month) { %>
          <li>
<% if (errors.manual_month) { %>
            <span class="error"><%= __(errors.manual_month) %></span>
<% } %>
<% if (errors.manual_date) { %>
            <span class="error"><%= __(errors.manual_date) %></span>
<% } %>
<% if (errors.manual_hours) { %>
            <span class="error"><%= __(errors.manual_hours) %></span>
<% } %>
          </li>
<% } %>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <ul class="line">
      <li class="w25">
        <input type="radio" name="type" value="1" <% if (values.type=="1") { %>checked<% } %>/>
        <label><%= __('Automatic') %></label>
      </li><!--
      --><li class="w75">
        <span class="bottom-spacing"><%= __('Send periodically a selection of events of the agenda. Define how regularly the newsletter should be sent and specify event selection filters') %></span>
        <ul class="line fieldset">
          <li>
            <input type="radio" name="frequency" value="0" <% if (values.frequency==0) { %>checked<% } %>/>
            <label><%= __('Weekly') %></label>
          </li>
          <li>
            <select name="weekly_day">
              <option value=""><%= __('pick a day') %></option>
<% var weekdays = {"1": "monday", "2": "tuesday", "3": "wednesday", "4": "thursday", "5": "friday", "6": "saturday", "0" : "sunday"}; for (var dIndex in weekdays) { %>
              <option value="<%= dIndex %>" <% if (values.weekly_day==dIndex) { %>selected<% } %>><%= __(weekdays[dIndex]) %></option>
 <% } %>
            </select>
          </li>
          <li>
            <select name="weekly_hours">
              <option value=""><%= __('pick an hour') %></option>
<% hours.forEach(function(hour) { %>
              <option value="<%= hour %>:00" <% if (values.weekly_hours==hour+':00') { %>selected<% }%>><%= hour %>:00</option>
<%}); %>
            </select>
          </li>
          <li>
            <select name="weekly_timezone" class="js_timezone">
              <option value=""><%= __('timezone') %></option>
<% timezones.forEach(function(tz) { %>
              <option value="<%= tz %>" <% if (values.weekly_timezone==tz) { %>selected<% }%>><%= tz %></option>
<%}); %>
            </select>
          </li>
        </ul>
<% if (errors.weekly_hours) { %>
        <div class="error"><%= __(errors.weekly_hours) %></div>
          
<% } %>
<% if (errors.weekly_day) { %>
        <div class="error"><%= __(errors.weekly_day) %></div>
<% } %>
        <ul class="line fieldset">
          <li>
            <input type="radio" name="frequency" value="1" <% if (values.frequency==1) { %>checked<% } %>/>
            <label><%= __('Monthly') %></label>
          </li>
          <li>
            <select name="monthly_date">
              <option value=""><%= __('pick a date') %></option>
<% for (var i = 1; i <= 31; i++) { %>
              <option value="<%= (i<10?'0':'') + i %>" <% if ((i<10?'0':'') + i==values.monthly_date) { %>selected<% } %> ><%= (i<10?'0':'') + i %></option>
<% } %>
            </select>
          </li>
          <li>
            <select name="monthly_hours">
              <option value=""><%= __('pick an hour') %></option>
<% hours.forEach(function(hour) { %>
              <option value="<%= hour %>:00" <% if (values.monthly_hours==hour+':00') { %>selected<% }%>><%= hour %>:00</option>
<%}); %>
            </select>
          </li>
          <li>
            <select name="monthly_timezone" class="js_timezone">
              <option value=""><%= __('timezone') %></option>
<% timezones.forEach(function( tz ) { %>
              <option value="<%= tz %>" <% if (values.monthly_timezone==tz) { %>selected<% }%>><%= tz %></option>
<%}); %>
            </select>
          </li> 
        </ul>
<% if (errors.monthly_hours) { %>
      <div class="error"><%= __(errors.monthly_hours) %></div>
<% } %>
<% if (errors.monthly_date) { %>
      <div class="error"><%= __(errors.monthly_date) %></div>
<% } %>

<% if (errors.frequency) { %>
      <div class="error"><%= __(errors.frequency) %></div>
<% } %>
      </li>
    </ul>
    
  </section>
  <section>
<% if ( isNew ) { %>
  <button class="green right" type="submit"><%= __('Next: define the content') %></button>
<% } else { %>
  <a class="button right" href="<%= genUrl('campaignLayoutEdit', { slug: agenda.slug, uid: uid }) %>" class="button"><%= __('Edit Layout') %></a>
  <button class="green" type="submit"><%= __('Update') %></button>
<% } %>
  </section>
</form>