<div class="header">
  <h2><%= __(uid===null?"Create a new campaign":"Campaign edition") %></h2>
  <a class="url" href="<%= genUrl('newsletterIndex') %>"><%= __('back to index') %></a>
</div>

<form class="cform" method="post" action="<%= uid===null ? genUrl( 'campaignCreate' ) : genUrl( 'campaignUpdate', { uid: uid } ) %>">
  <section>
    <ul>
      <li class="w66">
        <label><%= __('Campaign title') %></label>
        <input name="title" type="text" <% if (values.title) { %>value="<%= values.title %>"<% } %>/>
<% if (errors.title) { %>
        <span class="error"><%= __(errors.title) %></span>
<% } %>
      </li>
      <li class="w66">
        <label><%= __('Associated list') %></label>
        <select name="list">
          <option value=""><%= __('choose a list') %></option>
<% contactLists.forEach(function(list) { %>
          <option value="<%= list.uid %>" <% if ( values.list==list.uid ) { %>selected<% } %>><%= list.title %></option>
<% }); %>
        </select>
<% if (errors.list) { %>
        <span class="error"><%= __(errors.list) %></span>
<% } %>
      </li>
    </ul>
  </section>
  <label><%= __('Campaign Type') %></label>
    <section>
    <ul class="line">
      <li class="w25">
        <input type="radio" name="type" value="0" <% if (!values.type || (values.type=="0")) { %>checked<% } %>/>
        <label><%= __('Manual') %></label>
      </li><!--
      --><li class="w75">
        <span class="bottom-spacing"><%= __('Write an editorial content, make a selection of events to promote and define a selection for a one off send') %></span>
        <ul class="line fieldset">
          <li>
            <input type="checkbox" name="schedule" <% if (values.schedule) { %>checked<% } %>>
            <label for="schedule"><%= __('schedule the campaign') %></label>
          </li>
          <li>            
            <select name="manual_date">
              <option value=""><%= __('day') %></option>
<% for ( var i = 1; i <= 31; i++ ) { %>
              <option value="<%= (i<10?'0':'') + i %>" <% if ((i<10?'0':'') + i==values.manual_date) { %>selected<% } %> ><%= (i<10?'0':'') + i %></option><% } %>
            </select>
          </li>
          <li>
            <select name="manual_month">
              <option value=""><%= __('month') %></option>
<% for (var m = 0; m<12; m++) { %>
              <option value="<%= m %>" <% if (values.manual_month===m+'') { %>selected<% } %>><%= __(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][m]) %></option>
<% } %>
            </select>
          </li>
          <li>
            <select name="manual_hours">
              <option value=""><%= __('pick an hour') %></option>
<% ['08', '09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','00'].forEach(function(hour) { %>
              <option value="<%= hour %>:00" <% if (values.manual_hours==hour+':00') { %>selected<% }%>><%= hour %>:00</option>
<%}); %>
            </select>
          </li>
<% if (errors.manual_date || errors.manual_hours || errors.manual_month) { %>
          <li>
<% if (errors.manual_month) { %>
            <span class="error"><%= __(errors.manual_month) %></span>
<% } %>
<% if (errors.manual_date) { %>
            <span class="error"><%= __(errors.manual_date) %></span>
<% } %>
<% if (errors.manual_hours) { %>
            <span class="error"><%= __(errors.manual_hours) %></span>
<% } %>
          </li>
<% } %>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <ul class="line">
      <li class="w25">
        <input type="radio" name="type" value="1" <% if (values.type=="1") { %>checked<% } %>/>
        <label><%= __('Automatic') %></label>
      </li><!--
      --><li class="w75">
        <span class="bottom-spacing"><%= __('Send periodically a selection of events of the agenda. Define how regularly the newsletter should be sent and specify event selection filters') %></span>
        <ul class="line fieldset">
          <li>
            <input type="radio" name="frequency" value="0" <% if (values.frequency==0) { %>checked<% } %>/>
            <label><%= __('Weekly') %></label>
          </li>
          <li>
            <select name="weekly_day">
              <option value=""><%= __('pick a day') %></option>
<% var weekdays = {"1": "monday", "2": "tuesday", "3": "wednesday", "4": "thursday", "5": "friday", "6": "saturday", "0" : "sunday"}; for (var dIndex in weekdays) { %>
              <option value="<%= dIndex %>" <% if (values.weekly_day==dIndex) { %>selected<% } %>><%= __(weekdays[dIndex]) %></option>
 <% } %>
            </select>
          </li>
          <li>
            <select name="weekly_hours">
              <option value=""><%= __('pick an hour') %></option>
<% ['08', '09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','00'].forEach(function(hour) { %>
              <option value="<%= hour %>:00" <% if (values.weekly_hours==hour+':00') { %>selected<% }%>><%= hour %>:00</option>
<%}); %>
            </select>
          </li>
<% if (errors.weekly_hours) { %>
          <li>
            <span class="error"><%= __(errors.weekly_hours) %></span>
          </li>
<% } %>
<% if (errors.weekly_day) { %>
          <li>
            <span class="error"><%= __(errors.weekly_day) %></span>
          </li>
<% } %>
        </ul>
        <ul class="line fieldset">
          <li>
            <input type="radio" name="frequency" value="1" <% if (values.frequency==1) { %>checked<% } %>/>
            <label><%= __('Monthly') %></label>
          </li>
          <li>
            <select name="monthly_date">
              <option value=""><%= __('pick a date') %></option>
<% for (var i = 1; i <= 31; i++) { %>
              <option value="<%= (i<10?'0':'') + i %>" <% if ((i<10?'0':'') + i==values.monthly_date) { %>selected<% } %> ><%= (i<10?'0':'') + i %></option>
<% } %>
            </select>
          </li>
          <li>
            <select name="monthly_hours">
              <option value=""><%= __('pick an hour') %></option>
<% ['08', '09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','00'].forEach(function(hour) { %>
              <option value="<%= hour %>:00" <% if (values.monthly_hours==hour+':00') { %>selected<% }%>><%= hour %>:00</option>
<%}); %>
            </select>
          </li>  
<% if (errors.monthly_hours) { %>
          <li>
            <span class="error"><%= __(errors.monthly_hours) %></span>
          </li>
<% } %>
<% if (errors.monthly_date) { %>
          <li>
            <span class="error"><%= __(errors.monthly_date) %></span>
          </li>
<% } %>
        </ul>

<% if (errors.frequency) { %>
      <div class="error"><%= __(errors.frequency) %></div>
<% } %>
      </li>
    </ul>
    
  </section>
  <section>
<% if ( isNew ) { %>
  <button type="submit"><%= __('Next step') %></button>
<% } else { %>
  <button type="submit"><%= __('Update') %></button>
  <a href="<%= genUrl('campaignLayoutEdit', { uid: uid }) %>" class="button"><%= __('Edit Layout') %></a>
<% } %>
  </section>
</form>