<div class="header">
  <h2><%= __(uid===null?"Create a new Contact List":"Contact List Edition") %></h2>
  <a class="url" href="<%= genUrl('newsletterIndex') %>"><%= __('back to index') %></a>
</div>

<form class="cform" method="post" action="<%= uid===null?genUrl('contactListCreate'):genUrl('contactListUpdate', {uid : uid})  %>">
  <section>
    <ul>
      <li class="w66">
        <label><%= __('Contact list title') %></label>
        <input name="title" type="text" <% if (values.title) { %>value="<%= values.title %>"<% } %>/>
<% if (errors.title) { %>
        <span class="error"><%= errors.title %></span>
<% } %>
      </li>
      <li class="w66">
        <label for="emails"><%= __('Add a list of emails') %></label>
        <textarea name="emails" rows="6"><% if (values.contacts) { %><%= values.contacts %><% } %></textarea>
        <span class="info"><%= __('Optional - emails should be separated by a comma, a semicolon or a new line.') %></span>
<% if (errors.emails) { %>
        <span class="error"><%= errors.contacts %></span>
<% } %>
      </li>
    </ul>
  </section>
  <section>
    <button type="submit"><%= __(uid===null?'Create Contact List':'Update Contact List') %></button>
  </section>
</form>