<div class="header">
  <a class="url right" href="<%= genUrl('contactListRemove', { uid: uid }) %>"><%= __('delete this list') %></a>
  <h2><%= __("Contact List Menu") %> - <%= title %></h2>
  <a class="url" href="<%= genUrl('newsletterIndex') %>"><%= __('back to index') %></a>
</div>

<section>

<% include ../../general/pages %>
  
<% if (contacts.length) { %>
<ul class="glist">
<% contacts.forEach(function(contact) { %>
  <li>
    <a class="url right" href="<%= genUrl('contactRemove', { uid: uid, email: contact.email }, { maintain: true }) %>"><%= __('remove') %></a>
    <span><%= contact.email %></span>
  </li>
<% }) %>
</ul>  
<% } else { %>
  <p><%= __('This list is currently empty. Add some emails in the field below.') %></p>
<% } %>

<% include ../../general/pages %>

</section>

<section>
  <form class="cform" method="post" action="<%= genUrl('contactsAdd', { uid: uid }) %>">
    <ul>
      <li>
        <label><%= __('Add contacts') %></label>
        <p class="info"><%= __('Separated by new lines, commas or semicolons') %></p>
        <textarea name="emails" rows="6"><% if (values.emails) { %><%= values.emails %><% } %></textarea>
      </li>
      <li class="right">
        <button class="green" type="submit"><%= __('Add') %></button>
      </li>
<% if (errors.emails) { %>
      <span class="error"><%= __(errors.emails) %></span>
<% } %>
    </ul>
  </form>
</section>