<div class="header">
  <h2><%= __('Newsletter') %></h2>
</div>
<section>
  <div class="header">
    <h3><%= __('Campaigns') %></h3>
  </div>
<% if (campaigns.length) { %>
  <ul class="glist">
<% campaigns.forEach(function(campaign) { %>
    <li>
      <a class="button" href="<%= genUrl('campaignRemove', { slug: agenda.slug, uid: campaign.uid }) %>"><%= __('delete') %></a>
      <a class="button" href="<%= genUrl('campaignLayoutEdit', { slug: agenda.slug, uid: campaign.uid }) %>"><%= __('edit layout') %></a>
      <a class="button" href="<%= genUrl('campaignEdit', { slug: agenda.slug, uid: campaign.uid }) %>"><%= __('edit') %></a>
      <a class="hurl title" href="<%= genUrl('campaignEdit', { slug: agenda.slug, uid: campaign.uid }) %>"><%= campaign.title %></a>
      <ul class="detail">
        <li>
          <label><%= __('associated list') %></label>
<% if (campaign.contactList !== null) { %>
          <a class="url" href="<%= genUrl('contactListShow', { slug: agenda.slug, uid: campaign.contactList.uid }) %>"><%= campaign.contactList.title %></a>
<% } else { %>
          <span><%= __('no list') %></span>
<% } %>
        </li>
<% if ( campaign.scheduledAt ) { %>
        <li>
          <span><%= __('scheduled on %value%', { '%value%' : _t( campaign.scheduledAt, 'Do MMMM YYYY, HH:mm' ) }) %></span>
        </li>
<% } %>
      </ul>
<% if ( campaign.warnings.length ) { %>
      <ul class="warnings">
<% campaign.warnings.forEach( function( warning ) { %>
        <li class="error"><%= __.apply( null, warning ) %></li>
<% }); %>
      </ul>
<% } %>
    </li>
<% }) %>
  </ul>
<% } else { %>
  <p><%= __('You did not configure any campaigns yet') %></p>
<% } %>
  <a class="url" href="<%= genUrl('campaignNew') %>"><%= __('Add a campaign') %></a>
</section>
<section>
  <div class="header">
    <h3><%= __('Contact lists') %></h3>  
  </div>
<% if (contactLists.length) { %>
  <ul class="glist">
<% contactLists.forEach(function(contactList) { %>
    <li>
      <a class="button" href="<%= genUrl('contactListRemove', { slug: agenda.slug, uid: contactList.uid }) %>"><%= __('delete') %></a>
      <a class="button" href="<%= genUrl('contactListShow', { slug: agenda.slug, uid: contactList.uid }) %>"><%= __('edit') %></a>
      <a class="hurl title" href="<%= genUrl('contactListShow', { slug: agenda.slug, uid: contactList.uid }) %>"><%= contactList.title %></a>
      <ul class="detail">
        <li>
          <span><%= __('%s% contacts', { '%s%' : contactList.total}) %></span>
        </li>
      </ul>
    </li>
<% }); %>
  </ul>
<% } else { %>
  <p><%= __('You did not create any contact lists yet') %></p>
<% } %>
  <a class="url" href="<%= genUrl('contactListNew') %>"><%= __('Add a list') %></a>
</section>