<div class="user-profile js_profile">
<% if ( thumbnail ) { %>
  <img class="user-profile-link" alt="user thumbnail" src="<%= thumbnail.replace('cibultest.', 'cibul.') %>">
<% } else { %>
  <div class="full-name"><%= fullName %></div>
<% } %>
  <span class="small-black-down-arrow-css"></span>
</div>
<div class="user-profile-dropdown wsq<% if (!basic) { %> col2<% } %> js_profile_dropdown">
  <ul>
<% if ( !basic ) { %>
    <li><h3><%= __('General') %></h3></li>
    <li><a href="<%= genUrl('eventNew') %>"><%= __('Publish an event') %></a></li>
    <li><a href="<%= genUrl('settingsIndex') %>"><%= __('Settings') %></a></li>
<% } else { %>
<% if (reviews.edited.length) { 
  for (var i=0; i<Math.min(5, reviews.edited.length); i++) { 
%>
    <li>
      <a href="<%= reviews.edited[i].url %>">
<% if ( reviews.edited[i].image ) { %>
        <img src="<%= reviews.edited[i].image.replace('cibultest.', 'cibul.') %>"/>
<% } %>
        <span><%= reviews.edited[i].title %></span>
      </a>
    </li>
<% }} %>
<% } %>
    <li>
      <a href="<%= genUrl('homeEvents') %>"><%= __('My Events') %></a>
    </li>
    <li>
      <a href="<%= genUrl('signout') %>" class="js_signout" ><%= __('Sign Out') %></a>
    </li>
  </ul><!--
<% if ( !basic ) { %>
  --><ul>
    <li><h3><%= __('Agendas') %></h3></li>
    <li><a href="<%= genUrl('searchAgendas') %>"><%= __('Search agenda') %></a></li>
    <li><a href="<%= genUrl('agendaNew') %>"><%= __('Create an agenda') %></a></li>
<% if ( reviews.edited.length ) { %>
<% for (var i=0; i<Math.min(5, reviews.edited.length); i++) { %>
    <li>
      <a href="<%= reviews.edited[i].url %>">
<% if ( reviews.edited[i].image ) { %>
        <img src="<%= reviews.edited[i].image.replace('cibultest.', 'cibul.') %>"/>
<% } %>
        <span><%= reviews.edited[i].title %></span>
      </a>
    </li>
<% } %>
<% if ( reviews.edited.length >= 5 ) { %>
    <li>
      <a href="<%= genUrl('homeAgendas') %>"><%= __('View all') %></a>
    </li>
<% } %>
<% } %>
  </ul><!--
<% } %>
--></div>