<%- include('../layout/_top.ejs') %>
<div class="container legacy-event-form">
  <div class="row top-margined">
    <section class="col-sm-8 col-sm-offset-2 wsq">
      <div class="row">
        <div class="content">

          <div class="margin-v-md">
            <%- include('_file-upload.image.ejs') %>
          </div>

          <div class="margin-v-md">
            <%- include('_file-upload.default.ejs') %>
          </div>

          <div class="margin-v-md">
            <%- include('_file-upload.loading.ejs') %>
          </div>

          <div class="margin-v-md">
            <%- include('_file-upload.loaded.ejs') %>
          </div>

          <div class="margin-v-md">
            <%- include('_file-upload.error.ejs') %>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>
<%- include('../layout/_bottom.ejs') %>
